###########################################################################
# Dozzle: Docker log viewer - https://dozzle.dev/                         #
###########################################################################

---
services:
  dozzle:
    image: ghcr.io/amir20/dozzle:v8
    container_name: dozzle
    hostname: dozzle
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375"
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_ENABLE_SHELL: "true"
    expose:
      - 8080/tcp
    networks:
      - external
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - dozzle:/data
    cap_drop:
      - ALL
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 256M
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  dozzle:
    name: dozzle-volume
    external: true
