---
# Toggles app support.
lidarrEnabled: false
radarrEnabled: true
readarrEnabled: false
sonarrEnabled: true
whisparrEnabled: false

# Default delay profile options.
x-delay-profile: &defaults-delay-profile
  default:
    bypassIfAboveCustomFormatScore: false
    bypassIfHighestQuality: false
    enableTorrent: true
    enableUsenet: true
    minimumCustomFormatScore: 0
    preferredProtocol: torrent
    torrentDelay: 60
    usenetDelay: 60

###############################################################################
# Radarr configuration.                                                       #
###############################################################################

radarr:
  radarr:
    # Connection options.
    base_url: http://radarr:7878
    api_key: !env RADARR_API_KEY

    # Delay profile options.
    delay_profiles:
      <<: *defaults-delay-profile

    # Delete/replace old and unmanaged formats.
    delete_old_custom_formats: true
    delete_unmanaged_custom_formats:
      enabled: true
    replace_existing_custom_formats: true

    # Do not prefer repacks.
    media_management:
      downloadPropersAndRepacks: doNotPrefer

    # Use Jellyfin naming standards.
    media_naming:
      folder: jellyfin-tmdb
      movie:
        rename: true
        standard: jellyfin-tmdb

    # Root folders to add.
    root_folders:
      - /library/movies

    # Templates to include.
    include:
      - template: radarr-custom-formats-anime
      - template: radarr-custom-formats-remux-web-1080p
      - template: radarr-custom-formats-remux-web-2160p
      - template: radarr-quality-definition-anime
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-anime
      - template: radarr-quality-profile-remux-web-1080p
      - template: radarr-quality-profile-remux-web-2160p

    # Custom format definitions.
    customFormatDefinitions:
      # Custom YayPonies release format.
      - trash_id: radarr-yayponies
        name: YayPonies
        trash_description: YayPonies
        trash_scores:
          default: 10000
        specifications:
          - name: YayPonies
            implementation: ReleaseTitleSpecification
            negate: false
            required: false
            fields:
              value: "^YP-" # YayPonies releases always follow YP-

      # Custom format definition to block most foreign or dubbed releases.
      # This is not a good way to do this as it may block a lot of good multi releases.
      # However, I keep getting a lot of German and Italian releases picked up, and I'm lazy.
      # TODO: Make this a proper custom format and try not to block good MULTI releases.

      - trash_id: strict-no-foreign
        name: Strict No Foreign
        trash_description: Block common foreign and dubbed releases. May block certain multi releases.
        trash_scores:
          default: -10000
        specifications:
          - name: Foreign Keywords
            implementation: ReleaseTitleSpecification
            negate: false
            required: false
            fields:
              value: '(?i)\b(german|italian|spanish|ita|ger|esp|dubbed)\b'

    # Custom format scoring.
    custom_formats:
      - trash_ids:
          - strict-no-foreign # Strict No Foreign
          - 0dc8aec3bd1c47cd6c40c46ecd27e846 # Language: Not English
          - 0f12c086e289cf966fa5948eac571f44 # Hybrid
          - 493b6d1dbec3c3364c59d7607f7e3405 # HDR
          - 570bc9ebecd92723d2d21500f4be314c # Remaster
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
          - caa37d0df9c348912df1fb1d88f9273a # HDR10+ Boost
          - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
          - eca37840c13c6ef2dd0262b141a5482f # 4K Remaster
          - eecf3a857724171f968a66cb5719e152 # IMAX
        assign_scores_to:
          - name: Remux + WEB 1080p
          - name: Remux + WEB 2160p

      # Uncensored boost.
      - trash_ids:
          - 064af5f084a0a24458cc8ecd3220f93f # Uncensored
        assign_scores_to:
          - name: Remux + WEB 1080p
            score: 25
          - name: Remux + WEB 2160p
            score: 25
          - name: Remux-1080p - Anime
            score: 25

      # Anime Dual Audio boost.
      - trash_ids:
          - 4a3b087eea2ce012fcc1ce319259a3be # Dual Audio
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 100

      # YayPonies custom format assignment.
      - trash_ids:
          - radarr-yayponies # Custom YayPonies format.
        assign_scores_to:
          - name: YayPonies-1080p
            score: 10000

    quality_profiles:
      # Custom YayPonies profile.
      - name: YayPonies-1080p
        min_format_score: 10000
        quality_sort: top
        qualities:
          - name: WEBDL-1080p
        reset_unmatched_scores:
          enabled: true

###############################################################################
# Sonarr configuration.                                                       #
###############################################################################

sonarr:
  sonarr:
    # Connection options.
    base_url: http://sonarr:8989
    api_key: !env SONARR_API_KEY

    # Configures delay profiles.
    delay_profiles:
      <<: *defaults-delay-profile

    # Delete/replace old and unmanaged formats.
    delete_old_custom_formats: true
    delete_unmanaged_custom_formats:
      enabled: true
    replace_existing_custom_formats: true

    # Do not prefer repacks.
    media_management:
      downloadPropersAndRepacks: doNotPrefer

    # Use Jellyfin naming standards.
    media_naming:
      episodes:
        rename: true
      folder: jellyfin-tmdb

    # Root folders to add.
    root_folders:
      - /library/anime
      - /library/tv-shows

    # Templates to include.
    include:
      - template: sonarr-quality-definition-anime
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-custom-formats-anime
      - template: sonarr-v4-custom-formats-web-1080p
      - template: sonarr-v4-custom-formats-web-2160p
      - template: sonarr-v4-quality-profile-anime
      - template: sonarr-v4-quality-profile-web-1080p
      - template: sonarr-v4-quality-profile-web-2160p

    # Custom format definitions.
    customFormatDefinitions:
      # Custom YayPonies release format.
      - trash_id: sonarr-yayponies
        name: YayPonies
        trash_description: YayPonies
        trash_scores:
          default: 10000
        specifications:
          - name: YayPonies
            implementation: ReleaseTitleSpecification
            negate: false
            required: false
            fields:
              value: "^YP-" # YayPonies releases always follow YP-

      # Custom format definition to block most foreign or dubbed releases.
      # This is not a good way to do this as it may block a lot of good multi releases.
      # However, I keep getting a lot of German and Italian releases picked up, and I'm lazy.
      # TODO: Make this a proper custom format and try not to block good MULTI releases.

      - trash_id: strict-no-foreign
        name: Strict No Foreign
        trash_description: Block common foreign and dubbed releases. May block certain multi releases.
        trash_scores:
          default: -10000
        specifications:
          - name: Foreign Keywords
            implementation: ReleaseTitleSpecification
            negate: false
            required: false
            fields:
              value: '(?i)\b(german|italian|spanish|ita|ger|esp|dubbed)\b'

    # Custom format scoring.
    custom_formats:
      # 2160p Remux formats.
      - trash_ids:
          - 44e7c4de10ae50265753082e5dc76047 # Repack v3
          - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
          - 505d871304820ba7106b693be6fe4a9e # HDR
          - 69aa1e159f97d860440b04cd6d590c4f # Language: Not English
          - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK
          - 8a1d0c3d7497e741736761a1da866a2e # Remux Tier 02
          - 9965a052eb87b0d10313b1cea89eb451 # Remux Tier 01
          - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ
          - e2315f990da2e2cbfc9fa5b7a6fcfe48 # LQ (Release Title)
          - eb3d5cc0a2be0db205fb823640db6a3c # Repack v2
          - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper
          - fbcb31d8dabd2a319072b84fc0b7249c # Extras
        assign_scores_to:
          - name: Remux-2160p

      # Unwanted formats.
      - trash_ids:
          - strict-no-foreign # Strict No Foreign
          - 69aa1e159f97d860440b04cd6d590c4f # Language: Not English
          - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
          - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
        assign_scores_to:
          - name: Remux-2160p
          - name: WEB-1080p
          - name: WEB-2160p
          - name: SD-480p

      # Uncensored boost.
      - trash_ids:
          - 026d5aadd1a6b4e550b134cb6c72b3ca # Uncensored
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 25
          - name: Remux-2160p
            score: 25
          - name: WEB-1080p
            score: 25
          - name: WEB-2160p
            score: 25
          - name: SD-480p
            score: 25

      # Anime Dual Audio boost.
      - trash_ids:
          - 418f50b10f1907201b6cfdf881f467b7 # Dual Audio
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 100

      # YayPonies custom format assignment.
      - trash_ids:
          - sonarr-yayponies # Custom YayPonies format.
        assign_scores_to:
          - name: YayPonies-1080p
            score: 10000

    # Custom quality profiles.
    quality_profiles:
      # Dedicated Remux-2160p profile. Will only grab Remuxes.
      - name: Remux-2160p
        min_format_score: 100
        qualities:
          - name: Bluray-2160p Remux
        quality_sort: top
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Bluray-2160p Remux
          until_score: 10000

      # Dedicated SD format. Will only grab 480p releases.
      - name: SD-480p
        qualities:
          - name: Bluray-480p
          - name: WEBDL-480p
          - name: WEBRip-480p
          - name: DVD
          - name: SDTV
        reset_unmatched_scores:
          enabled: true
        quality_sort: top
        upgrade:
          allowed: true
          until_quality: Bluray-480p

      # Custom YayPonies profile.
      - name: YayPonies-1080p
        min_format_score: 10000
        qualities:
          - name: WEBDL-1080p
        quality_sort: top
        reset_unmatched_scores:
          enabled: true
