###########################################################################
# Socket Proxy: Proxy wrapper for the Docker socket for secure access.    #
###########################################################################

---
services:
  socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:3.2.9
    container_name: socket-proxy
    hostname: socket-proxy
    read_only: true
    restart: unless-stopped
    environment:
      ALLOW_RESTARTS: "1"
      ALLOW_START: "1"
      ALLOW_STOP: "1"
      CONTAINERS: "1"
      EVENTS: "1"
      IMAGES: "1"
      INFO: "1"
      NETWORKS: "1"
      PING: "1"
      SERVICES: "1"
      TZ: "${TZ}"
    networks:
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    tmpfs:
      - /run
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 64M
    healthcheck:
      interval: 10s
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:2375/_ping || exit 1"
    security_opt:
      - no-new-privileges:true

networks:
  internal:
    external: true
    name: internal-network
