# Socket Proxy: Docker socket proxy for secure proxy access.                  #
# https://docs.linuxserver.io/images/docker-socket-proxy/

---
services:
  socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: socket-proxy
    env_file: ../../.env
    hostname: socket-proxy
    read_only: true
    restart: unless-stopped
    environment:
      ALLOW_RESTARTS: "1" # Allows restarting containers.
      ALLOW_START: "1" # Allows starting containers.
      ALLOW_STOP: "1" # Allows stopping containers.
      CONTAINERS: "1" # Allows access to the containers endpoint.
      EVENTS: "1" # Allows access to the events endpoint.
      IMAGES: "1" # Allows access to the images endpoint.
      INFO: "1" # Allows access to the info endpoint.
      NETWORKS: "1" # Allows access to the networks endpoint.
      PING: "1" # Allows access to the ping endpoint.
      SERVICES: "1" # Allows access to the services endpoint.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    tmpfs:
      - /run
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 64M
    healthcheck:
      interval: 10s
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:2375/_ping || exit 1"
      timeout: 5s
    security_opt:
      - no-new-privileges:true

networks:
  internal:
    external: true
    name: internal-network
