# Lidarr: Music manager, organizer, and PVR.
# https://lidarr.audio/
# See https://wiki.servarr.com/lidarr/postgres-setup to use PostgreSQL.

---
services:
  lidarr:
    image: ghcr.io/linuxserver-labs/prarr:lidarr-plugins
    container_name: lidarr
    env_file: ../../.env
    hostname: lidarr
    restart: unless-stopped
    environment:
      DOCKER_MODS: "linuxserver/mods:universal-package-install" # Allows package installs.
      INSTALL_PACKAGES: "chromaprint ffmpeg flac imagemagick" # Install extras for beets.
      INSTALL_PIP_PACKAGES: "beets beautifulsoup4 flask langdetect pyacoustid pylast" # pip packages to install.
      PGID: "${PGID}"
      PUID: "${PUID}"
      TZ: "${TZ}"
      UMASK: "${UMASK}"
    expose:
      - 8686/tcp
    networks:
      - external
      - gluetun
      - internal
    volumes:
      - ./scripts:/scripts:rw
      - downloads:/downloads:rw
      - lidarr:/config:rw
      - media-library:/library:rw
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    depends_on:
      lidarr-db:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 4G
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:8686/ping || exit 1"
    security_opt:
      - no-new-privileges:true

  lidarr-db:
    image: ghcr.io/11notes/postgres:18
    container_name: lidarr-db
    env_file: ../../.env
    hostname: lidarr-db
    read_only: true
    restart: unless-stopped
    shm_size: 256MB
    environment:
      POSTGRES_PASSWORD: "${LIDARR_DB_PASSWORD}" # Sets the password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/postgres/log:uid=1000,gid=1000"
      - "/postgres/run:uid=1000,gid=1000"
    volumes:
      - lidarr-db-config:/postgres/etc:rw
      - lidarr-db-data:/postgres/var:rw
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    security_opt:
      - no-new-privileges:true

volumes:
  lidarr:
    name: lidarr-volume
    external: true
  lidarr-db-config:
    name: lidarr-db-config-volume
    external: true
  lidarr-db-data:
    name: lidarr-db-data-volume
    external: true
  downloads:
    name: downloads-complete-bind
    driver_opts:
      device: "${DOWNLOADS_COMPLETE_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
