###############################################################################
# Lidarr: Music manager, organizer, and PVR.                                  #
# https://lidarr.audio/                                                       #
###############################################################################

---
services:
  lidarr:
    image: ghcr.io/hotio/lidarr:pr-plugins-3.1.1.4884
    container_name: lidarr
    env_file: ../../.env
    hostname: lidarr
    restart: unless-stopped
    expose:
      - 8686/tcp
    networks:
      - external
      - gluetun
      - internal
    volumes:
      - downloads:/downloads:rw
      - media-library:/library:rw
      - lidarr:/config:rw
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    depends_on:
      lidarr-db:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 4G
        reservations:
          cpus: 0.25
          memory: 512M
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:8686/ping || exit 1"
    security_opt:
      - no-new-privileges:true

  lidarr-db:
    image: ghcr.io/11notes/postgres:18
    container_name: lidarr-db
    env_file: ../../.env
    hostname: lidarr-db
    read_only: true
    restart: unless-stopped
    shm_size: 256MB
    environment:
      POSTGRES_PASSWORD: "${LIDARR_DB_PASSWORD}" # Sets the password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/postgres/log:uid=1000,gid=1000"
      - "/postgres/run:uid=1000,gid=1000"
    volumes:
      - lidarr-db-config:/postgres/etc:rw
      - lidarr-db-data:/postgres/var:rw
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
        reservations:
          cpus: 0.25
          memory: 256M
    security_opt:
      - no-new-privileges:true

volumes:
  lidarr:
    name: lidarr-volume
    external: true
  lidarr-db-config:
    name: lidarr-db-config-volume
    external: true
  lidarr-db-data:
    name: lidarr-db-data-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
