###########################################################################
# qBittorrent: BitTorrent client - https://www.qbittorrent.org/           #
###########################################################################

---
services:
  qbittorrent:
    image: ghcr.io/11notes/qbittorrent:5
    container_name: qbittorrent
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      TZ: "${TZ}"
    volumes:
      - downloads:/downloads
      - downloads-incomplete:/downloads-incomplete
      - qbittorrent-config:/qbittorrent/etc
      - qbittorrent-data:/qbittorrent/var
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 8
          memory: 8GB
    security_opt:
      - no-new-privileges:true

volumes:
  qbittorrent-config:
    name: qbittorrent-config-volume
    external: true
  qbittorrent-data:
    name: qbittorrent-data-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  downloads-incomplete:
    name: downloads-incomplete-bind
    driver_opts:
      device: "${DOWNLOADS_INCOMPLETE_PATH}"
      o: bind
      type: none
