#################################################################################
# qBittorrent: BitTorrent client.                                             #
# https://github.com/qbittorrent/qBittorrent/wiki                             #
#################################################################################

---
services:
  qbittorrent:
    image: ghcr.io/11notes/qbittorrent:5
    container_name: qbittorrent
    env_file: ../../.env
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    environment:
      TZ: "${TZ}" # Sets the timezone.
    volumes:
      - downloads:/downloads
      - downloads-incomplete:/downloads-incomplete
      - downloads-permaseed:/downloads-permaseed
      - qbittorrent-config:/qbittorrent/etc
      - qbittorrent-data:/qbittorrent/var
    cap_add:
      - CHOWN
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 8
          memory: 8GB
    security_opt:
      - no-new-privileges:true

volumes:
  qbittorrent-config:
    name: qbittorrent-config-volume
    external: true
  qbittorrent-data:
    name: qbittorrent-data-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  downloads-incomplete:
    name: downloads-incomplete-bind
    driver_opts:
      device: "${DOWNLOADS_INCOMPLETE_PATH}"
      o: bind
      type: none
  downloads-permaseed:
    name: downloads-permaseed-bind
    driver_opts:
      device: "${DOWNLOADS_PERMASEED_PATH}"
      o: bind
      type: none
