#################################################################################
# Seerr: Media request manager and discovery tool.                            #
# https://docs.seerr.dev/                                                     #
#################################################################################

---
x-defaults: &defaults
  env_file: ../../.env
  restart: unless-stopped
  cap_drop:
    - AUDIT_WRITE
    - MKNOD
    - SYS_ADMIN
    - SYS_CHROOT
    - SYS_PTRACE
  security_opt:
    - no-new-privileges:true

services:
  seerr:
    <<: *defaults
    image: ghcr.io/fallenbagel/jellyseerr:preview-seerr
    container_name: seerr
    hostname: seerr
    environment:
      DB_HOST: "seerr-db" # Connect to seerr-db.
      DB_LOG_QUERIES: "true" # Log database queries.
      DB_NAME: "postgres" # Use the Postgres database.
      DB_PASS: "${SEERR_DB_PASSWORD}" # Sets the password.
      DB_PORT: "5432" # Connect to port 5432.
      DB_TYPE: "postgres" # Use PostgreSQL.
      DB_USE_SSL: "false" # Do not use SSL.
      DB_USER: "postgres" # Use the PostgreSQL user.
      TZ: "${TZ}" # Sets the timezone.
    expose:
      - 5055/tcp
    networks:
      - external
      - gluetun
      - internal
    volumes:
      - seerr:/app/config
    depends_on:
      seerr-db:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:5055 || exit 1"

  seerr-db:
    <<: *defaults
    image: ghcr.io/11notes/postgres:18
    container_name: seerr-db
    hostname: seerr-db
    shm_size: 256MB
    environment:
      POSTGRES_PASSWORD: "${SEERR_DB_PASSWORD}" # Sets the password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/postgres/log:uid=1000,gid=1000,exec"
      - "/postgres/run:uid=1000,gid=1000,exec"
    volumes:
      - seerr-db-config:/postgres/etc
      - seerr-db-data:/postgres/var
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 256M

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  seerr:
    name: seerr-volume
    external: true
  seerr-db-config:
    name: seerr-db-config-volume
    external: true
  seerr-db-data:
    name: seerr-db-data-volume
    external: true
