# OpenCloud: Self-hosted cloud storage service.
# https://docs.opencloud.eu/docs/admin/configuration

---
services:
  opencloud:
    image: opencloudeu/opencloud-rolling:4
    command: ["-c", "opencloud init --insecure true || true; opencloud server"]
    container_name: opencloud
    entrypoint: /bin/sh
    env_file: ../../.env
    hostname: opencloud
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      FRONTEND_ARCHIVER_MAX_SIZE: "1000000000" # Maximum frontend archive size in bytes.
      IDM_ADMIN_PASSWORD: "${OPENCLOUD_ADMIN_PASSWORD}" # Default administrator password to set.
      NOTIFICATIONS_SMTP_ENCRYPTION: "${SMTP_TRANSPORT_ENCRYPTION}" # SMTP transport encryption type.
      NOTIFICATIONS_SMTP_HOST: "${SMTP_HOST}" # SMTP server host.
      NOTIFICATIONS_SMTP_INSECURE: "false" # Do not use insecure mode for SMTP.
      NOTIFICATIONS_SMTP_PASSWORD: "${SMTP_PASSWORD}" # SMTP server password.
      NOTIFICATIONS_SMTP_PORT: "${SMTP_PORT}" # SMTP server port.
      NOTIFICATIONS_SMTP_SENDER: "OpenCloud <${SMTP_SENDER}>" # SMTP server sender.
      NOTIFICATIONS_SMTP_USERNAME: "${SMTP_USERNAME}" # SMTP server username.
      OC_INSECURE: "false" # Disable insecure mode.
      OC_LOG_COLOR: "true" # Log in color.
      OC_LOG_LEVEL: "info" # Log at the info level.
      OC_LOG_PRETTY: "true" # Use pretty logs.
      OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: "false" # Allow passwordless read-only shares.
      OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: "true" # Require passwords for read-write shares.
      OC_URL: "https://${OPENCLOUD_URL}"
      PROXY_TLS: "false" # Do not proxy internal services; keep off for reverse proxy support.
    expose:
      - 9200/tcp
    networks:
      - external
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - opencloud-config:/etc/opencloud:rw
      - opencloud-data:/var/lib/opencloud:rw
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 4G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:9200 || exit 1"
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network

volumes:
  opencloud-config:
    name: opencloud-config-volume
    external: true
  opencloud-data:
    name: opencloud-data-bind
    driver_opts:
      device: "${OPENCLOUD_DATA_PATH}"
      o: bind
      type: none
