###########################################################################
# OpenCloud: Self-hosted cloud storage service - https://opencloud.eu/en  #
###########################################################################

---
services:
  opencloud:
    image: opencloudeu/opencloud-rolling:3
    command: ["-c", "opencloud init --insecure true || true; opencloud server"] # Needed for initial setup.
    container_name: opencloud
    entrypoint: /bin/sh # Enter in /bin/sh for CLI commands.
    hostname: opencloud
    read_only: true # Prevent writing directly to the image.
    restart: unless-stopped
    user: "${PUID}:${PGID}" # Run as non-root user.
    environment:
      FRONTEND_ARCHIVER_MAX_SIZE: "10000000000" # Sets the max archive size.
      IDM_ADMIN_PASSWORD: "${OPENCLOUD_ADMIN_PASSWORD}" # Sets the admin password.
      IDM_CREATE_DEMO_USERS: "false" # Do not create demo users.
      NOTIFICATIONS_SMTP_ENCRYPTION: "${SMTP_TRANSPORT_ENCRYPTION}" # Configures SMTP encryption.
      NOTIFICATIONS_SMTP_HOST: "${SMTP_HOST}" # Configures SMTP host.
      NOTIFICATIONS_SMTP_INSECURE: "${SMTP_INSECURE}" # Toggles SMTP insecure mode.
      NOTIFICATIONS_SMTP_PASSWORD: "${SMTP_PASSWORD}" # Configures SMTP password.
      NOTIFICATIONS_SMTP_PORT: "${SMTP_PORT}" # Configures SMTP port.
      NOTIFICATIONS_SMTP_SENDER: "OpenCloud <${SMTP_SENDER}>" # Configures SMTP sender.
      NOTIFICATIONS_SMTP_USERNAME: "${SMTP_USERNAME}" # Configures SMTP username.
      OC_ADD_RUN_SERVICES: "notifications" # Run the notifications service.
      OC_INSECURE: "false" # Do not run in insecure mode.
      OC_LOG_COLOR: "true" # Log in color.
      OC_LOG_LEVEL: "info" # Log info and above.
      OC_LOG_PRETTY: "true" # Use pretty logs.
      OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: "false" # Allow public shares.
      OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: "true" # Require writable public shares to have a password.
      OC_URL: "https://${OPENCLOUD_URL}" # Configures the URL.
      PROXY_TLS: "false" # Do not proxy between backend and reverse proxy.
      TZ: "${TZ}" # Sets the timezone.
    expose:
      - 9200/tcp # Web interface reverse proxied externally at ${OPENCLOUD_URL}.
    networks:
      - external
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}" # Required for read_only image.
    volumes:
      - opencloud-config:/etc/opencloud:rw # Configuration and data.
      - opencloud-data:/var/lib/opencloud:rw # User data.
    cap_drop:
      - ALL # Drop all default capabilities.
    deploy:
      resources:
        limits:
          cpus: 4 # Allow up to 4 vCPUs.
          memory: 4G # Allow up to 4G of RAM.
        reservations:
          cpus: 1 # Reserve 1 vCPU.
          memory: 1G # Reserve 1GB of RAM.
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:9200 || exit 1"
    security_opt:
      - no-new-privileges:true # Do not allow privilege escalation.

networks:
  external:
    external: true
    name: external-network

volumes:
  opencloud-config:
    name: opencloud-config-volume
    external: true
  opencloud-data:
    name: opencloud-data-bind
    driver_opts:
      device: "${APPDATA_PATH}/opencloud/data"
      o: bind
      type: none
