###########################################################################
# OpenCloud: Self-hosted cloud storage service - https://opencloud.eu/en  #
###########################################################################

---
services:
  opencloud:
    image: opencloudeu/opencloud-rolling:3
    command: ["-c", "opencloud init --insecure true || true; opencloud server"]
    container_name: opencloud
    entrypoint: /bin/sh
    hostname: opencloud
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      FRONTEND_ARCHIVER_MAX_SIZE: "1000000000"
      IDM_ADMIN_PASSWORD: "${OPENCLOUD_ADMIN_PASSWORD}"
      IDM_CREATE_DEMO_USERS: "false"
      NOTIFICATIONS_SMTP_ENCRYPTION: "${SMTP_TRANSPORT_ENCRYPTION}"
      NOTIFICATIONS_SMTP_HOST: "${SMTP_HOST}"
      NOTIFICATIONS_SMTP_INSECURE: "false"
      NOTIFICATIONS_SMTP_PASSWORD: "${SMTP_PASSWORD}"
      NOTIFICATIONS_SMTP_PORT: "${SMTP_PORT}"
      NOTIFICATIONS_SMTP_SENDER: "OpenCloud <${SMTP_SENDER}>"
      NOTIFICATIONS_SMTP_USERNAME: "${SMTP_USERNAME}"
      OC_ADD_RUN_SERVICES: "notifications"
      OC_INSECURE: "false"
      OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD: "false"
      OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD: "true"
      OC_URL: "https://${OPENCLOUD_URL}"
      PROXY_TLS: "false"
      TZ: "${TZ}"
    expose:
      - 9200/tcp
    networks:
      - external
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    volumes:
      - opencloud-config:/etc/opencloud
      - opencloud-data:/var/lib/opencloud
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 4G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:9200 || exit 1"
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network

volumes:
  opencloud-config:
    name: opencloud-config-volume
    external: true
  opencloud-data:
    name: opencloud-data-bind
    driver_opts:
      device: "${OPENCLOUD_DATA_PATH}"
      o: bind
      type: none
