# General container configuration.
# PGID: Group ID to run containers as.
# PUID: User ID to run containers as.
# RENDER_PGID: Host render GID; used for transcoding. $ getent group render
# TZ: Timezone to use. $ cat /etc/timezone
# UMASK: Default umask to apply to newly created files.
PGID="1000"
PUID="1000"
RENDER_PGID=""
TZ="America/Chicago"
UMASK="022"

# Storage and directory configuration.
# STORAGE_PATH: Path to the primary mounted storage drive.
# BACKUPS_PATH: Path to store local restic backups.
# DOWNLOADS_PATH: Path to store completed downloads.
# DOWNLOADS_INCOMPLETE_PATH: Path to store incomplete downloads. Maybe a feeder SSD?
# DOWNLOADS_PERMASEED_PATH: Path to store permaseed-categorized downloads. Maybe a dedicated beater HDD?
# IMMICH_UPLOADS_PATH: Path to store immich user uploads.
# MEDIA_LIBRARY_PATH: Path to store the media library.
# OPENCLOUD_UPLOADS_PATH: Path to store OpenCloud user uploads.
STORAGE_PATH="/storage"
BACKUPS_PATH="/backups"
DOWNLOADS_PATH="${STORAGE_PATH}/downloads"
DOWNLOADS_INCOMPLETE_PATH="/downloads-incomplete"
DOWNLOADS_PERMASEED_PATH="/downloads-permaseed"
IMMICH_UPLOADS_PATH="${STORAGE_PATH}/appdata/immich"
MEDIA_LIBRARY_PATH="${STORAGE_PATH}/media-library"
OPENCLOUD_UPLOADS_PATH="${STORAGE_PATH}/opencloud"

# Caddy, domain, and URL configuration.
# CLOUDFLARE_TOKEN: Scoped Cloudflare token with DNS editing permissions to $DOMAIN/$INTERNAL_DOMAIN.
# DOMAIN: Primary domain to use for external access.
# INTERNAL_DOMAIN: Internal domain or subdomain of $DOMAIN used for internal services.
# ACME_EMAIL: Email to use for ACME DNS challenges to Let's Encrypt/ZeroSSL.
# CHHOTO_URL: Base URL used for Chhoto. Requires a DNS record set in $DOMAIN.
# GATUS_URL: Base URL used for Gatus. Requires a DNS record set in $DOMAIN.
# IMMICH_URL: Base URL used for Immich. Requires a DNS record set in $DOMAIN.
# JELLYFIN_URL: Base URL used for Jellyfin. Requires a DNS record set in $DOMAIN.
# OPENCLOUD_URL: Base URL used for OpenCloud. Requires a DNS record set in $DOMAIN.
# VAULTWARDEN_URL: Base URL used for Vaultwarden. Requires a DNS record set in $DOMAIN.
CLOUDFLARE_TOKEN=""
DOMAIN="example.com"
INTERNAL_DOMAIN="internal.${DOMAIN}"
ACME_EMAIL="webmaster@${DOMAIN}"
CHHOTO_URL="go.${DOMAIN}"
GATUS_URL="status.${DOMAIN}"
IMMICH_URL="photos.${DOMAIN}"
JELLYFIN_URL="jellyfin.${DOMAIN}"
OPENCLOUD_URL="cloud.${DOMAIN}"
VAULTWARDEN_URL="vault.${DOMAIN}"

# External SMTP server configuration. Example values are for iCloud Custom Email.
# SMTP_HOST: External SMTP server hostname.
# SMTP_PASSWORD: External SMTP server password to authenticate with.
# SMTP_PORT: External SMTP server port.
# SMTP_SECURITY: External SMTP serversecurity method. starttls, force_tls, or none.
# SMTP_SENDER: External SMTP server sender url. username@domain.com.
# SMTP_TRANSPORT_ENCRYPTION: External SMTP server encryption method. starttls, ssltls, or none.
# SMTP_USERNAME: External SMTP server username to login with.
SMTP_HOST="smtp.mail.me.com"
SMTP_PASSWORD="icloud-app-password"
SMTP_PORT="587"
SMTP_SECURITY="starttls"
SMTP_SENDER="webmaster@${DOMAIN}"
SMTP_TRANSPORT_ENCRYPTION="starttls"
SMTP_USERNAME="icloud-username-no-@"

# Password and general API key configuration.
# ARR_DB_PASSWORD: 'ARR PostgreSQL database password. $ openssl rand -hex 32
# GATUS_DB_PASSWORD: Gatus PostgreSQL database password. $ openssl rand -hex 32
# IMMICH_DB_PASSWORD: Immich PostgreSQL database password. $ openssl rand -hex 32
# IMMICH_REDIS_PASSWORD: Immich Redis cache password. $ openssl rand -hex 32
# VAULTWARDEN_DB_PASSWORD: Vaultwarden PostgreSQL database password. $ openssl rand -hex 32
# OPENCLOUD_ADMIN_PASSWORD: OpenCloud admin password to set. $ openssl rand -hex 32
# CHHOTO_PASSWORD: Chhoto URL admin password. $ openssl rand -hex 32
# CHHOTO_API_KEY: Chhoto URL API key. 32 characters. $ openssl rand -base64 32
# LIDARR_API_KEY: Lidarr API key, get from Settings -> General after first run.
# PROWLARR_API_KEY: Prowlarr API key, get from Settings -> General after first run.
# RADARR_API_KEY: Radarr API key, get from Settings -> General after first run.
# SONARR_API_KEY: Sonarr API key, get from Settings -> General after first run.
# DISCOGS_API_KEY: Discogs user PAT. https://www.discogs.com/settings/developers
# GENIUS_API_KEY: Genius user API key. https://genius.com/api-clients
# LASTFM_API_KEY: Last.fm API key. https://www.last.fm/api/account/create
# LASTFM_API_SECRET: Last.fm API secret. https://www.last.fm/api/account/create
ARR_DB_PASSWORD=""
GATUS_DB_PASSWORD=""
IMMICH_DB_PASSWORD=""
IMMICH_REDIS_PASSWORD=""
VAULTWARDEN_DB_PASSWORD=""
OPENCLOUD_ADMIN_PASSWORD=""
CHHOTO_PASSWORD=""
CHHOTO_API_KEY=""
LIDARR_API_KEY=""
PROWLARR_API_KEY=""
RADARR_API_KEY=""
SONARR_API_KEY=""
DISCOGS_API_KEY=""
GENIUS_API_KEY=""
LASTFM_API_KEY=""
LASTFM_API_SECRET=""

# Beszel Agent configuration.
# BESZEL_KEY: Beszel SSH key to authenticate with; provided by the Beszel hub on first run.
# BESZEL_TOKEN: Beszel token to authenticate with; provided by the Beszel hub on first run.
BESZEL_KEY=""
BESZEL_TOKEN=""

# Gatus configuration.
# GATUS_DISCORD_WEBHOOK_URL: Discord webhook URL used for Gatus notifications.
GATUS_DISCORD_WEBHOOK_URL=""

# Immich configuration.
# IMMICH_DB_STORAGE_TYPE: Type of disk the Immich database is stored on (HDD, SSD).
IMMICH_DB_STORAGE_TYPE="SSD"

# Gluetun configuration. Example values set for my AirVPN. See https://github.com/qdm12/gluetun-wiki
# FIREWALL_OUTBOUND_SUBNETS: List of subnets allowed to access the internal firewall. Should match your Docker networks.
# FIREWALL_VPN_INPUT_PORTS: Lisst of ports forwarded from the VPN side (i.e AirVPN static ports).
# GLUETUN_API_KEY: API key to use for the control server. $ openssl rand -hex 32
# PROTONVPN_PORT_FORWARDING: Enables ProtonVPN port forwarding, use with VPN_PROVIDER=protonvpn.
# SERVER_CITIES: List of server cities to connect to. Support depends on provider.
# SERVER_COUNTRIES: List of server countries to connect to. Support depends on provider.
# SERVER_REGIONS: List of server regions to connect to. Support depends on provider.
# UPDATER_PROTONVPN_EMAIL: If using VPN_PROVIDER=protonvpn, use your Proton email.
# UPDATER_PROTONVPN_PASSWORD: If using VPN_PROVIDER=protonvpn, use your Proton password.
# VPN_SERVICE_PROVIDER: VPN provider to use. See the wiki.
# WIREGUARD_ADDRESSES: Wireguard Addresses to connect to.
# WIREGUARD_ENDPOINT_PORT: Wireguard port to connect to.
# WIREGUARD_MTU: MTU to use. If set, disables Gluetun's auto-MTU checks. Higher values may be unstable.
# WIREGUARD_PERSISTENT_KEEPALIVE_INTERVAL: Interval to keep connections for. Can be left blank
# WIREGUARD_PRESHARED_KEY: PresharedKey from generated Wireguard config.
# WIREGUARD_PRIVATE_KEY: PrivateKey from generated Wireguard config.
# WIREGUARD_PUBLIC_KEY: PublicKey from generated Wireguard config.
FIREWALL_OUTBOUND_SUBNETS="172.19.1.0/24,172.19.2.0/24,172.19.3.0/24,192.168.1.0/24"
FIREWALL_VPN_INPUT_PORTS="55536,55537"
GLUETUN_API_KEY=""
PROTONVPN_PORT_FORWARDING="false"
SERVER_CITIES="Chicago Illinois,Toronto Ontario,Atlanta Georgia,New York City,Miami"
SERVER_COUNTRIES="United States,Canada"
SERVER_REGIONS="America"
UPDATER_PROTONVPN_EMAIL=""
UPDATER_PROTONVPN_PASSWORD=""
VPN_SERVICE_PROVIDER="airvpn"
WIREGUARD_ADDRESSES=""
WIREGUARD_ENDPOINT_PORT=""
WIREGUARD_MTU="1420"
WIREGUARD_PERSISTENT_KEEPALIVE_INTERVAL="25s"
WIREGUARD_PRESHARED_KEY=""
WIREGUARD_PRIVATE_KEY=""
WIREGUARD_PUBLIC_KEY=""

# Soulseek configuration.
# SLSKD_API_KEY: slskd API key to set. $ openssl rand -hex 16
# SLSKD_DOWNLOAD_SPEED_LIMIT: Soulseek download speed cap, in kibibytes.
# SLSKD_JWT_KEY: slskd JWT key for signing secrets. $ openssl rand -base64 32
# SLSKD_PASSWORD: slskd web interface password to set. $ openssl rand -hex 32
# SLSKD_UPLOAD_SPEED_LIMIT: Soulseek upload speed cap, in kibibytes.
# SLSKD_USERNAME: slskd web interface username to set. Defaults to slskd.
# SOULSEEK_PASSWORD: Your Soulseek user password to authenticate with.
# SOULSEEK_PORT: Soulseek traffic port to use. Defaults to 50300. If using AirVPN, set to your assigned port.
# SOULSEEK_USER_DESCRIPTION: Your Soulseek user description to set.
# SOULSEEK_USERNAME: Your Soulseek username to login as.
SLSKD_API_KEY=""
SLSKD_DOWNLOAD_SPEED_LIMIT="35000"
SLSKD_JWT_KEY=""
SLSKD_PASSWORD="slskd"
SLSKD_UPLOAD_SPEED_LIMIT="35000"
SLSKD_USERNAME="slskd"
SOULSEEK_PASSWORD=""
SOULSEEK_PORT="50300"
SOULSEEK_USER_DESCRIPTION=""
SOULSEEK_USERNAME=""

# Vaultwarden configuration.
# VAULTWARDEN_ADMIN_TOKEN: Admin token to use. See https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#secure-the-admin_token
# VAULTWARDEN_PUSH_INSTALLATION_ID: Installation ID generated from https://bitwarden.com/host
# VAULTWARDEN_PUSH_INSTALLATION_KEY: Installation key generated from https://bitwarden.com/host
# VAULTWARDEN_SIGNUPS: If true, allows public registration. Defaults to false; create users at $VAULTWARDEN_URL/admin.
# YUBICO_CLIENT_ID: YubiKey support; client ID from https://upgrade.yubico.com/getapikey
# YUBICO_SECRET_KEY: YubiKey support; secret from https://upgrade.yubico.com/getapikey
VAULTWARDEN_ADMIN_TOKEN=''
VAULTWARDEN_PUSH_INSTALLATION_ID=""
VAULTWARDEN_PUSH_INSTALLATION_KEY=""
VAULTWARDEN_SIGNUPS="false"
YUBICO_CLIENT_ID=""
YUBICO_SECRET_KEY=""
