# General container configuration.
PGID="1000"          # Group ID to run containers as.
PUID="1000"          # User ID to run containers as.
RENDER_PGID=""       # Host render GID; used for transcoding. $ getent group render
TZ="America/Chicago" # Timezone to use. $ cat /etc/timezone
UMASK="022"          # Default umask to apply to newly created files.

# Storage and directory configuration.
DOCKER_PATH="/var/lib/docker"                        # Docker data directory.
STORAGE_PATH="/storage"                              # Primary mass storage drive/pool path.
BACKUPS_PATH="/backups"                              # Local restic backup path.
DOWNLOADS_PATH="${STORAGE_PATH}/downloads"           # Completed downloads path.
DOWNLOADS_INCOMPLETE_PATH="/downloads-incomplete"    # Incomplete download path, maybe a feeder SSD?
DOWNLOADS_PERMASEED_PATH="/downloads-permaseed"      # Permaseed-categorized download path, maybe a dedicated beater HDD?
IMMICH_UPLOADS_PATH="${STORAGE_PATH}/appdata/immich" # Immich user upload path.
MEDIA_LIBRARY_PATH="${STORAGE_PATH}/media-library"   # Media library path.
OPENCLOUD_UPLOADS_PATH="${STORAGE_PATH}/opencloud"   # OpenCloud user upload path.

# Caddy, domain, and URL configuration.
CLOUDFLARE_TOKEN=""                  # Scoped Cloudflare token with DNS editing permissions to $DOMAIN/$INTERNAL_DOMAIN.
DOMAIN="example.com"                 # Domain to use for external access.
INTERNAL_DOMAIN="internal.${DOMAIN}" # Internal domain or subdomain of $DOMAIN used for internal services.
ACME_EMAIL="webmaster@${DOMAIN}"     # Email to use for ACME DNS challenges.
CHHOTO_URL="go.${DOMAIN}"            # Chhoto URL.
GATUS_URL="status.${DOMAIN}"         # Gatus URL.
IMMICH_URL="photos.${DOMAIN}"        # Immich URL.
JELLYFIN_URL="jellyfin.${DOMAIN}"    # Jellyfin URL.
OPENCLOUD_URL="cloud.${DOMAIN}"      # OpenCloud URL.
SEERR_URL="seerr.${DOMAIN}"          # Seerr URL.
VAULTWARDEN_URL="vault.${DOMAIN}"    # Vaultwarden URL.

# External SMTP server configuration.
SMTP_HOST=""                         # Server hostname.
SMTP_PASSWORD=""                     # Server password.
SMTP_PORT="587"                      # Server port.
SMTP_SECURITY="starttls"             # starttls, force_tls, or none.
SMTP_SENDER="webmaster@${DOMAIN}"    # username@domain.com
SMTP_TRANSPORT_ENCRYPTION="starttls" # starttls, ssltls, or none.
SMTP_USERNAME=""                     # Server username.

# Password and API key configuration.
ARR_DB_PASSWORD=""          # 'ARR PostgreSQL password.
GATUS_DB_PASSWORD=""        # Gatus PostgreSQL password.
IMMICH_DB_PASSWORD=""       # Immich PostgreSQL password.
IMMICH_REDIS_PASSWORD=""    # Immich Redis password.
VAULTWARDEN_DB_PASSWORD=""  # Vaultwarden PostgreSQL password.
OPENCLOUD_ADMIN_PASSWORD="" # OpenCloud administrator password.
CHHOTO_PASSWORD=""          # Chhoto URL administrator password.
CHHOTO_API_KEY=""           # Chhoto URL API key. $ openssl rand -base64 32
GLUETUN_API_KEY=""          # Gluetun API key. $ openssl rand -base64 32
BAZARR_API_KEY=""           # Bazarr API key, get from Settings -> General after first run.
LIDARR_API_KEY=""           # Lidarr API key, get from Settings -> General after first run.
PROWLARR_API_KEY=""         # Prowlarr API key, get from Settings -> General after first run.
RADARR_API_KEY=""           # Radarr API key, get from Settings -> General after first run.
SONARR_API_KEY=""           #  Sonarr API key, get from Settings -> General after first run.
DISCOGS_API_KEY=""          # Discogs user PAT. https://www.discogs.com/settings/developers
GENIUS_API_KEY=""           # Genius user API key. https://genius.com/api-clients
LASTFM_API_KEY=""           # Last.fm API key. https://www.last.fm/api/account/create
LASTFM_API_SECRET=""        # Last.fm API secret. https://www.last.fm/api/account/create

# Webhook configuration.
BEETS_DISCORD_WEBHOOK_URL="" # Beets Discord webhook URL.
GATUS_DISCORD_WEBHOOK_URL="" # Gatus Discord webhook URL.

# Beszel Agent configuration. Provided by the Beszel hub on first run.
BESZEL_KEY=""   # Beszel SSH key to authenticate with.
BESZEL_TOKEN="" # Beszel token to authenticate with.

# Gluetun configuration. Example values set for my AirVPN. See https://github.com/qdm12/gluetun-wiki
FIREWALL_OUTBOUND_SUBNETS="172.19.1.0/24,172.19.2.0/24,172.19.3.0/24"          # List of subnets allowed to access the internal firewall.
FIREWALL_VPN_INPUT_PORTS="55536,55537"                                         # List of ports forwarded from the VPN side (i.e AirVPN static ports).
SERVER_CITIES="Chicago Illinois,Toronto Ontario,Atlanta Georgia,New York City" # VPN server cities to connect to.
SERVER_COUNTRIES="United States,Canada"                                        # VPN server countries to connect to.
SERVER_REGIONS="America"                                                       # VPN server regions to connect to.
WIREGUARD_ADDRESSES=""                                                         # Wireguard Address(es) to connect to.
WIREGUARD_ENDPOINT_PORT=""                                                     # Wireguard endpoint point to connect to.
WIREGUARD_PRESHARED_KEY=""                                                     # PresharedKey from wg0.conf.
WIREGUARD_PRIVATE_KEY=""                                                       # PrivateKey from wg0.conf.
WIREGUARD_PUBLIC_KEY=""                                                        # PublicKey from wg0.conf.

# Soulseek configuration.
SLSKD_API_KEY=""                   # slskd API key to set. $ openssl rand -hex 16
SLSKD_DOWNLOAD_SPEED_LIMIT="35000" # Soulseek download speed cap, in kibibytes.
SLSKD_JWT_KEY=""                   # slskd JWT key for signing secrets. $ openssl rand -base64 32
SLSKD_PASSWORD="slskd"             # slskd web interface password.
SLSKD_UPLOAD_SPEED_LIMIT="35000"   # Soulseek upload speed cap, in kibibytes.
SLSKD_USERNAME="slskd"             # slskd web interface username.
SOULSEEK_PASSWORD=""               # Soulseek password to login with.
SOULSEEK_PORT="50300"              # Soulseek traffic port to use. Match with your assigned VPN's static port if given.
SOULSEEK_USER_DESCRIPTION=""       # Soulseek user description to set.
SOULSEEK_USERNAME=""               # Soulseek username to login with.

# Vaultwarden configuration.
VAULTWARDEN_ADMIN_TOKEN=''                                       # https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#secure-the-admin_token
VAULTWARDEN_PUSH_INSTALLATION_ID=""                              # https://bitwarden.com/host
VAULTWARDEN_PUSH_INSTALLATION_KEY=""# https://bitwarden.com/host
VAULTWARDEN_SIGNUPS="false"                                      # If true, allows public registrations. Defaults to false; create users at $VAULTWARDEN_URL/admin.
YUBICO_CLIENT_ID=""                                              # YubiKey support; client ID from https://upgrade.yubico.com/getapikey
YUBICO_SECRET_KEY=""                                             # YubiKey support; secret from https://upgrade.yubico.com/getapikey
