---
include:
  - ./services/autobrr/compose.yml
  - ./services/beszel/compose.yml
  - ./services/byparr/compose.yml
  - ./services/caddy/compose.yml
  - ./services/chhoto/compose.yml
  - ./services/configarr/compose.yml
  - ./services/dozzle/compose.yml
  - ./services/gatus/compose.yml
  - ./services/gluetun/compose.yml
  - ./services/huntarr/compose.yml
  - ./services/immich/compose.yml
  - ./services/jellyfin/compose.yml
  - ./services/kavita/compose.yml
  - ./services/lidarr/compose.yml
  - ./services/mam-ip-helper/compose.yml
  - ./services/navidrome/compose.yml
  - ./services/opencloud/compose.yml
  - ./services/prowlarr/compose.yml
  - ./services/qbittorrent/compose.yml
  - ./services/qui/compose.yml
  - ./services/radarr/compose.yml
  - ./services/slskd/compose.yml
  - ./services/socket-proxy/compose.yml
  - ./services/sonarr/compose.yml
  - ./services/thelounge/compose.yml
  - ./services/unpackerr/compose.yml
  - ./services/vaultwarden/compose.yml
