---
include:
  - ./services/arr/compose.yml
  - ./services/backrest/compose.yml
  - ./services/beszel/compose.yml
  - ./services/caddy/compose.yml
  - ./services/chhoto/compose.yml
  - ./services/dozzle/compose.yml
  - ./services/gatus/compose.yml
  - ./services/gluetun/compose.yml
  - ./services/homarr/compose.yml
  - ./services/jellyfin/compose.yml
  - ./services/mam-ip-helper/compose.yml
  - ./services/navidrome/compose.yml
  - ./services/opencloud/compose.yml
  - ./services/qbittorrent/compose.yml
  - ./services/slskd/compose.yml
  - ./services/socket-proxy/compose.yml
  - ./services/thelounge/compose.yml
  - ./services/vaultwarden/compose.yml
