#############################################################################
# Watchtower: Automatic container updates and update notifications.         #
# https://watchtower.nickfedor.com/latest/                                  #
#############################################################################

---
services:
  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower:1.12.4
    container_name: watchtower
    env_file: ../../.env
    hostname: watchtower
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375" # Connect to the socket proxy.
      TZ: "${TZ}" # Sets the timezone.
      WATCHTOWER_CLEANUP: "true" # Remove outdated images after updating.
      WATCHTOWER_INCLUDE_RESTARTING: "true" # Include restarting containers in checks.
      WATCHTOWER_INCLUDE_STOPPED: "true" # Include stopped containers in checks.
      WATCHTOWER_MONITOR_ONLY: "true" # Run in dry mode, only send update notifications.
      WATCHTOWER_NOTIFICATION_URL: "${WATCHTOWER_NOTIFICATION_URL}" # https://containrrr.dev/shoutrrr/v0.8/services/overview
      WATCHTOWER_SCHEDULE: "0 6 * * *" # Update daily at 6:00 AM.
      WATCHTOWER_UPDATE_ON_START: "true" # Check for updates on startup.
    networks:
      - external
      - internal
    cap_drop:
      - ALL
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 64M
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  internal-only:
    external: true
    name: internal-network
