---
services:
  ###########################################################################
  # Watchtower: Automatic container updates or update notifications.        #
  ###########################################################################

  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower:1.12.3
    container_name: watchtower
    hostname: watchtower
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375"
      TZ: "${TZ}"
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_INCLUDE_RESTARTING: "true"
      WATCHTOWER_INCLUDE_STOPPED: "true"
      WATCHTOWER_MONITOR_ONLY: "false"
      WATCHTOWER_NOTIFICATION_URL: "${WATCHTOWER_NOTIFICATION_URL}"
      WATCHTOWER_SCHEDULE: "0 7 * * *"
      WATCHTOWER_UPDATE_ON_START: "true"
    networks:
      - external
      - internal
    cap_drop:
      - ALL
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 64M
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  internal-only:
    external: true
    name: internal-network
