# qui: Alternative web interface for qBittorrent.
# https://github.com/autobrr/qui

---
services:
  qui:
    image: ghcr.io/autobrr/qui:v1.11
    container_name: qui
    env_file: ../../.env
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      TZ: "${TZ}"
    volumes:
      - qui:/config
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
      qbittorrent:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    security_opt:
      - no-new-privileges:true

volumes:
  qui:
    name: qui-volume
    external: true
