###############################################################################
# Vaultwarden: Self-hosted Bitwarden-compatible server.                       #
# https://github.com/dani-garcia/vaultwarden/wiki                             #
###############################################################################

---
x-defaults: &defaults
  env_file: ../../.env
  read_only: true
  restart: unless-stopped
  cap_drop:
    - ALL
  security_opt:
    - no-new-privileges:true

services:
  vaultwarden:
    <<: *defaults
    image: ghcr.io/dani-garcia/vaultwarden:1.34.3-alpine
    container_name: vaultwarden
    hostname: vaultwarden
    user: "${PUID}:${PGID}"
    environment:
      ADMIN_RATELIMIT_MAX_BURST: "3" # Sets the admin login ratelimit burst.
      ADMIN_RATELIMIT_SECONDS: "300" # Sets the admin login.
      ADMIN_TOKEN: ${VAULTWARDEN_ADMIN_TOKEN} # https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page#using-argon2
      DATABASE_URL: "postgres://postgres:${VAULTWARDEN_DB_PASSWORD}@vaultwarden-db:5432/postgres" # Connects to PostgreSQL.
      DOMAIN: "https://${VAULTWARDEN_URL}" # Sets the URL to use.
      EMAIL_2FA_AUTO_FALLBACK: "true" # Use email for 2FA fallback.
      EMAIL_2FA_ENFORCE_ON_VERIFIED_INVITE: "true" # Require email 2FA if no other options are set.
      EMAIL_CHANGE_ALLOWED: "true" # Allow users to change their emails.
      EMERGENCY_ACCESS_ALLOWED: "true" # Enables the emergency access feature.
      EXPERIMENTAL_CLIENT_FEATURE_FLAGS: "inline-menu-positioning-improvements,inline-menu-totp,ssh-agent,ssh-key-vault-item,export-attachments" # https://github.com/dani-garcia/vaultwarden/blob/main/.env.template#L374
      EXTENDED_LOGGING: "true" # Enables extended logging.
      IP_HEADER: "X-Forwarded-For" # Use X-Forwarded-For for IP identification.
      LOG_LEVEL: "info" # Sets the log level.
      LOG_TIMESTAMP_FORMAT: "%Y-%m-%d %H:%M:%S.%3f" # Logging timestamp format.
      LOGIN_RATELIMIT_MAX_BURST: "10" # Sets the login ratelimit burst.
      LOGIN_RATELIMIT_SECONDS: "60" # Sets the login ratelimit.
      PUSH_ENABLED: "${VAULTWARDEN_PUSH_ENABLED}" # Toggles push notification support.
      PUSH_INSTALLATION_ID: "${VAULTWARDEN_PUSH_INSTALLATION_ID}"
      PUSH_INSTALLATION_KEY: "${VAULTWARDEN_PUSH_INSTALLATION_KEY}"
      REQUIRE_DEVICE_EMAIL: "true" # Require new devices to verify by email.
      SENDS_ALLOWED: "true" # Enables send functionality.
      SIGNUPS_ALLOWED: "${VAULTWARDEN_SIGNUPS}" # Toggles signups.
      SIGNUPS_VERIFY: "true" # Require new accounts to be verified.
      SMTP_FROM: "${SMTP_SENDER}" # SMTP sender address.
      SMTP_HOST: "${SMTP_HOST}" # SMTP server host.
      SMTP_PASSWORD: "${SMTP_PASSWORD}" # SMTP server password.
      SMTP_PORT: "${SMTP_PORT}" # SMTP server port.
      SMTP_SECURITY: "${SMTP_SECURITY}" # SMTP server security type. starttls, force_tls, or off.
      SMTP_TIMEOUT: "15s" # SMTP server timeout.
      SMTP_USERNAME: "${SMTP_USERNAME}" # SMTP server username.
      TRASH_AUTO_DELETE_DAYS: "30" # Wait 30 days before deleting items in the trash.
      TZ: "${TZ}" # Sets the timezone.
      WEB_VAULT_ENABLED: "true" # Enables the web vault.
      WEBSOCKET_ENABLED: "true" # Enables websockets.
    expose:
      - 80/tcp
    networks:
      - external
      - internal
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    volumes:
      - vaultwarden:/data:rw
    depends_on:
      vaultwarden-db:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:80/alive || exit 1"

  vaultwarden-db:
    <<: *defaults
    image: ghcr.io/11notes/postgres:18
    container_name: vaultwarden-db
    hostname: vaultwarden-db
    shm_size: 256MB
    environment:
      POSTGRES_BACKUP_RETENTION: "14" # Retain backups for 14 days.
      POSTGRES_BACKUP_SCHEDULE: "0 6 * * *" # Backup daily at 6:00 AM.
      POSTGRES_PASSWORD: "${VAULTWARDEN_DB_PASSWORD}" # Database password to set.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/postgres/log:uid=1000,gid=1000"
      - "/postgres/run:uid=1000,gid=1000"
    volumes:
      - vaultwarden-db-backups:/postgres/backup:rw
      - vaultwarden-db-config:/postgres/etc:rw
      - vaultwarden-db-data:/postgres/var:rw
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  vaultwarden:
    name: vaultwarden-volume
    external: true
  vaultwarden-db-backups:
    name: vaultwarden-db-backups-volume
    external: true
  vaultwarden-db-config:
    name: vaultwarden-db-config-volume
    external: true
  vaultwarden-db-data:
    name: vaultwarden-db-data-volume
    external: true
