###########################################################################
# Vaultwarden: Unofficial Bitwarden-compatible server.                    #
###########################################################################

---
x-defaults: &defaults
  restart: unless-stopped
  read_only: true
  user: "${PUID}:${PGID}"
  cap_drop:
    - ALL
  security_opt:
    - no-new-privileges:true

services:
  vaultwarden:
    <<: *defaults
    image: ghcr.io/dani-garcia/vaultwarden:latest-alpine
    container_name: vaultwarden
    hostname: vaultwarden
    environment:
      ADMIN_RATELIMIT_MAX_BURST: "3"
      ADMIN_RATELIMIT_SECONDS: "300"
      ADMIN_TOKEN: ${VAULTWARDEN_ADMIN_TOKEN}
      DATABASE_URL: "postgres://postgres:${VAULTWARDEN_DB_PASSWORD}@vaultwarden-db:5432/postgres"
      DOMAIN: "https://${VAULTWARDEN_URL}"
      EMAIL_CHANGE_ALLOWED: "true"
      EMERGENCY_ACCESS_ALLOWED: "true"
      EXPERIMENTAL_CLIENT_FEATURE_FLAGS: "inline-menu-positioning-improvements,inline-menu-totp,ssh-agent,ssh-key-vault-item,export-attachments"
      IP_HEADER: "X-Forwarded-For"
      LOGIN_RATELIMIT_MAX_BURST: "10"
      LOGIN_RATELIMIT_SECONDS: "60"
      PUSH_ENABLED: "true"
      PUSH_INSTALLATION_ID: "${VAULTWARDEN_PUSH_INSTALLATION_ID}"
      PUSH_INSTALLATION_KEY: "${VAULTWARDEN_PUSH_INSTALLATION_KEY}"
      REQUIRE_DEVICE_EMAIL: "true"
      SENDS_ALLOWED: "true"
      SIGNUPS_ALLOWED: "${VAULTWARDEN_SIGNUPS}"
      SIGNUPS_VERIFY: "true"
      SMTP_FROM: "${SMTP_SENDER}"
      SMTP_HOST: "${SMTP_HOST}"
      SMTP_PASSWORD: "${SMTP_PASSWORD}"
      SMTP_PORT: "${SMTP_PORT}"
      SMTP_SECURITY: "${SMTP_SECURITY}"
      SMTP_TIMEOUT: "15s"
      SMTP_USERNAME: "${SMTP_USERNAME}"
      TZ: "${TZ}"
      WEB_VAULT_ENABLED: "true"
      WEBSOCKET_ENABLED: "true"
    expose:
      - 80/tcp
    networks:
      - external
      - internal
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
    volumes:
      - vaultwarden:/data
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    depends_on:
      vaultwarden-db:
        condition: service_healthy
        restart: true
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:80/alive || exit 1"

  vaultwarden-db:
    <<: *defaults
    image: ghcr.io/11notes/postgres:18
    container_name: vaultwarden-db
    hostname: vaultwarden-db
    environment:
      POSTGRES_BACKUP_RETENTION: "14"
      POSTGRES_BACKUP_SCHEDULE: "0 6 * * *"
      POSTGRES_PASSWORD: "${VAULTWARDEN_DB_PASSWORD}"
      TZ: "${TZ}"
    networks:
      - internal
    tmpfs:
      - "/postgres/log:uid=${PUID},gid=${PGID}"
      - "/postgres/run:uid=${PUID},gid=${PGID}"
    volumes:
      - vaultwarden-db-backups:/postgres/backup
      - vaultwarden-db-config:/postgres/etc
      - vaultwarden-db-data:/postgres/var
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 256M

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  vaultwarden:
    name: vaultwarden-volume
    external: true
  vaultwarden-db-backups:
    name: vaultwarden-db-backups-volume
    external: true
  vaultwarden-db-config:
    name: vaultwarden-db-config-volume
    external: true
  vaultwarden-db-data:
    name: vaultwarden-db-data-volume
    external: true
