###########################################################################
# slskd: Web-based Soulseek client - https://github.com/slskd/slskd       #
###########################################################################

---
services:
  slskd:
    image: ghcr.io/slskd/slskd:latest
    container_name: slskd
    network_mode: service:gluetun
    restart: unless-stopped
    read_only: true
    user: "${PUID}:${PGID}"
    environment:
      SLSKD_DOWNLOADS_DIR: "/downloads/soulseek"
      SLSKD_INCOMPLETE_DIR: "/downloads-incomplete/soulseek"
      SLSKD_JWT_KEY: "${SLSKD_JWT_KEY}"
      SLSKD_JWT_TTL: "604800000"
      SLSKD_REMOTE_CONFIGURATION: "true"
      SLSKD_SHARED_DIR: "/library"
      SLSKD_SLSK_LISTEN_PORT: "${SOULSEEK_PORT:-50300}"
      SLSKD_SLSK_PASSWORD: "${SOULSEEK_PASSWORD}"
      SLSKD_SLSK_USERNAME: "${SOULSEEK_USERNAME}"
      SLSKD_UMASK: "${UMASK}"
      TZ: "${TZ}"
    tmpfs:
      - "/.net:uid=${PUID},gid=${PGID},exec"
      - "/tmp:uid=${PUID},gid=${PGID}"
    volumes:
      - media-library:/library:ro
      - slskd:/app
      - soulseek-downloads-incomplete:/downloads-incomplete
      - soulseek-downloads:/downloads
    cap_add:
      - CHOWN
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:5030/health || exit 1"
    security_opt:
      - no-new-privileges:true

volumes:
  slskd:
    name: slskd-volume
    external: true
  soulseek-downloads:
    name: soulseek-downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}/soulseek"
      o: bind
      type: none
  soulseek-downloads-incomplete:
    name: soulseek-downloads-incomplete-bind
    driver_opts:
      device: "${DOWNLOADS_INCOMPLETE_PATH}/soulseek"
      o: bind
      type: none
  soulseek-library:
    name: soulseek-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}/music"
      o: bind
      type: none
