# slskd: Web-based Soulseek client.
# https://github.com/slskd/slskd/blob/master/docs/config.md

---
services:
  slskd:
    image: ghcr.io/slskd/slskd:0.24.1
    container_name: slskd
    env_file: ../../.env
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      SLSKD_API_KEY: "${SLSKD_API_KEY}"
      SLSKD_DOWNLOAD_SPEED_LIMIT: "${SLSKD_DOWNLOAD_SPEED_LIMIT}"
      SLSKD_DOWNLOADS_DIR: "/downloads/soulseek"
      SLSKD_FORCE_SHARE_SCAN: "true"
      SLSKD_INCOMPLETE_DIR: "/downloads-incomplete/soulseek"
      SLSKD_JWT_KEY: "${SLSKD_JWT_KEY}"
      SLSKD_JWT_TTL: "604800000"
      SLSKD_PASSWORD: "${SLSKD_PASSWORD}"
      SLSKD_REMOTE_CONFIGURATION: "true"
      SLSKD_REMOTE_FILE_MANAGEMENT: "true"
      SLSKD_SHARE_CACHE_RETENTION: "1440"
      SLSKD_SHARE_CACHE_STORAGE_MODE: "memory"
      SLSKD_SHARE_CACHE_WORKERS: "4"
      SLSKD_SHARED_DIR: "/library/music"
      SLSKD_SLSK_DESCRIPTION: "${SOULSEEK_USER_DESCRIPTION}"
      SLSKD_SLSK_LISTEN_PORT: "${SOULSEEK_PORT:-50300}"
      SLSKD_SLSK_PASSWORD: "${SOULSEEK_PASSWORD}"
      SLSKD_SLSK_USERNAME: "${SOULSEEK_USERNAME}"
      SLSKD_UMASK: "${UMASK}"
      SLSKD_UPLOAD_SPEED_LIMIT: "${SLSKD_UPLOAD_SPEED_LIMIT}"
      SLSKD_USERNAME: "${SLSKD_USERNAME}"
      TZ: "${TZ}"
    tmpfs:
      - "/.net:uid=${PUID},gid=${PGID},exec"
      - "/tmp:uid=${PUID},gid=${PGID},exec"
    volumes:
      - downloads-incomplete:/downloads-incomplete:rw
      - downloads:/downloads:rw
      - media-library:/library:ro
      - slskd:/app:rw
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 4G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:5030/health || exit 1"
    security_opt:
      - no-new-privileges:true

volumes:
  slskd:
    name: slskd-volume
    external: true
  downloads:
    name: downloads-complete-bind
    driver_opts:
      device: "${DOWNLOADS_COMPLETE_PATH}"
      o: bind
      type: none
  downloads-incomplete:
    name: downloads-incomplete-bind
    driver_opts:
      device: "${DOWNLOADS_INCOMPLETE_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
