###########################################################################
# slskd: Web-based Soulseek client - https://github.com/slskd/slskd       #
###########################################################################

---
services:
  slskd:
    image: ghcr.io/slskd/slskd:latest
    container_name: slskd
    network_mode: service:gluetun # Route all traffic through Gluetun.
    restart: unless-stopped
    read_only: true # Prevent writing directly to the image.
    user: "${PUID}:${PGID}" # Run as non-root user.
    environment:
      SLSKD_DISK_LOGGER: "true" # Log files to the disk.
      SLSKD_DOWNLOADS_DIR: "/downloads/soulseek" # Sets the downloads directory.
      SLSKD_INCOMPLETE_DIR: "/dl-cache/soulseek-incomplete" # Sets the incomplete downloads directory.
      SLSKD_JWT_KEY: "${SLSKD_JWT_KEY}" # Sets the JWT API key.
      SLSKD_JWT_TTL: "604800000" # Sets the JWT API TTL.
      SLSKD_REMOTE_CONFIGURATION: "true" # Enables editing the configuration.
      SLSKD_SHARED_DIR: "/library/music" # Share the music library.
      SLSKD_SLSK_DESCRIPTION: "${SOULSEEK_DESCRIPTION}" # Sets user description.
      SLSKD_SLSK_LISTEN_PORT: "${SOULSEEK_PORT:-50300}" # Configures the port used for Soulseek traffic.
      SLSKD_SLSK_PASSWORD: "${SOULSEEK_PASSWORD}" # Soulseek user password.
      SLSKD_SLSK_USERNAME: "${SOULSEEK_USERNAME}" # Soulseek username.
      SLSKD_UMASK: "${UMASK}" # Umask to apply to newly created files.
      SLSKD_USERNAME: "${SLSKD_USERNAME}" # Web interface username to set.
      SOULSEEK_PASSWORD: "${SOULSEEK_PASSWORD}" # Web interface password to set.
      TZ: "${TZ}" # Sets the timezone.
    tmpfs:
      - "/.net:uid=${PUID},gid=${PGID},exec" # Required for read_only image.
      - "/tmp:uid=${PUID},gid=${PGID}" # Required for read_only image.
    volumes:
      - slskd:/app:rw # Configuration and database.
      - downloads-incomplete:/dl-cache:rw # Root path to incomplete downloads.
      - downloads:/downloads:rw # Root path to downloads.
      - media-library:/library:ro # Root path to the media library.
    cap_add:
      - CHOWN # Required for taking ownership.
    cap_drop:
      - ALL # Drop all default capabilities.
    depends_on:
      gluetun:
        condition: service_healthy # Wait for Gluetun to be healthy before connecting.
        restart: true # Restart when Gluetun restarts.
    deploy:
      resources:
        limits:
          cpus: 2 # Allow up to 2 vCPUs.
          memory: 2G # Allow up to 2G of RAM.
        reservations:
          cpus: 0.25 # Reserve 0.25 vCPUs.
          memory: 256M # Reserve 256MB of RAM.
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:5030/health || exit 1"
    security_opt:
      - no-new-privileges:true # Do not allow privilege escalation.

volumes:
  slskd:
    name: slskd-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
  downloads-incomplete:
    name: downloads-incomplete-bind
    driver_opts:
      device: "${DOWNLOADS_INCOMPLETE_PATH}"
      o: bind
      type: none
