#################################################################################
# slskd: Web-based Soulseek client.                                           #
# https://github.com/slskd/slskd/blob/master/docs/config.md                   #
#################################################################################

---
services:
  slskd:
    image: ghcr.io/slskd/slskd:latest
    container_name: slskd
    env_file: ../../.env
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      SLSKD_DOWNLOADS_DIR: "/downloads/soulseek" # Directory to store downloaded files into.
      SLSKD_INCOMPLETE_DIR: "/downloads-incomplete/soulseek" # Directory to store incomplete downloads.
      SLSKD_JWT_KEY: "${SLSKD_JWT_KEY}" # https://jwtsecrets.com/#generator
      SLSKD_JWT_TTL: "604800000" # Sets the JWT TTL.
      SLSKD_REMOTE_CONFIGURATION: "true" # Allow configuration in the web interface.
      SLSKD_SHARED_DIR: "/library/music" # Default directory to share.
      SLSKD_SLSK_LISTEN_PORT: "${SOULSEEK_PORT:-50300}" # Soulseek listening port.
      SLSKD_SLSK_PASSWORD: "${SOULSEEK_PASSWORD}" # Soulseek password to use.
      SLSKD_SLSK_USERNAME: "${SOULSEEK_USERNAME}" # Soulseek username to use.
      SLSKD_UMASK: "${UMASK}" # Umask to apply to newly created files.
      TZ: "${TZ}" # Sets the timezone.
    tmpfs:
      - "/.net:uid=${PUID},gid=${PGID},exec"
      - "/tmp:uid=${PUID},gid=${PGID},exec"
    volumes:
      - downloads-incomplete:/downloads-incomplete
      - downloads:/downloads
      - media-library:/library:ro
      - slskd:/app
    cap_add:
      - CHOWN
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2G
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:5030/health || exit 1"
    security_opt:
      - no-new-privileges:true

volumes:
  slskd:
    name: slskd-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  downloads-incomplete:
    name: downloads-incomplete-bind
    driver_opts:
      device: "${DOWNLOADS_INCOMPLETE_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
