---
# Global options.
include:
  - plugins.yaml

asciify_path: yes # Convert all non-ASCII characters in paths to ASCII equivalents.
directory: /library/music # Destination.
ignore: ["*.ogg", "*.m4v"]
library: library.db # Database
max_filename_length: 255 # 0 = unlimited.
original_date: yes # Use the original date for the release.
per_disc_numbering: yes # The track numbers are incremented throughout a multi disk release.
threaded: yes # Indicating whether the autotagger should use multiple threads.

# Directory and naming scheme.
paths:
  # The aunique{} function ensures that identically-named albums are placed in different directories.
  albumtype:soundtrack: Soundtracks/$original_year - $album%aunique{}/%if{$multidisc,$disc.}$track - $title
  comp: Compilations/$original_year - $album%aunique{}/%if{$multidisc,$disc.}$track - $title
  default: $albumartist/$original_year - $album%aunique{}/%if{$multidisc,$disc.}$track - $title
  ext:jpg: $albumpath/scans/cover
  ext:pdf: $albumpath/scans/booklet
  ext:png: $albumpath/scans/cover
  singleton: $albumartist/$original_year - $album%aunique{}/%if{$multidisc,$disc.}$track - $title

import:
  write: yes # Controlling whether metadata (e.g., ID3) tags are written to files when using beet import.
  copy: no # Do not copy files.
  move: no # Do not move files.
  resume: no # Do not resume failed files.
  quiet_fallback: asis # Fallback to as-is.
  languages: en # Prefer transliterated English names.
  detail: no # Do not provide details.
  autotag: yes # Enable auto-tagging.
  duplicate_action: remove # Remove duplicates.

importadded:
  preserve_mtimes: no # After importing files, re-set their mtimes to their original value. Default: no.
  preserve_write_mtimes: no # After writing files, re-set their mtimes to their original value. Default: no.

badfiles:
  check_on_import: no

extrafiles:
  patterns:
    all: "*.*"

# Metadata sources
musicbrainz:
  # user: REDACTED
  # pass: REDACTED
  searchlimit: 20 # Recommendation from: https://github.com/kernitus/beets-oldestdate
  extra_tags: [catalognum, country, label, media, year] # Enable improved MediaBrainz queries from tags.

originquery: # Get tags from gazelle-origin
  origin_file: origin-*.yaml
  use_origin_on_conflict: yes
  tag_patterns:
    media: "$.Media"
    year: '$."Edition year"'
    label: '$."Record label"'
    catalognum: '$."Catalog number"'
    albumdisambig: "$.Edition"

# Parentwork
parentwork:
  force: no # As a default, parentwork only fetches work info for recordings that do not already have a parentwork tag.
  auto: yes # If enabled, automatically fetches works at import.

# Bandcamp
bandcamp:
  preferred_media: Digital # A comma-separated list of media to prioritise when fetching albums.
  include_digital_only_tracks: true # For media that isn't Digital Media, include all tracks,
  search_max: 10 # Maximum number of items to fetch through search queries. Default: 10.
  art: true # Add a source to the FetchArt plug-in to download album art for Bandcamp albums

match:
  strong_rec_thresh: 0.25 # Reflects the distance threshold below which beets will make a “strong recommendation” that the metadata be used.
  medium_rec_thresh: 0.125 # The medium_rec_thresh and rec_gap_thresh options work similarly.
  distance_weights:
    album_id: 0.01 # If tagging is enabled in Lidarr, the musicbrainz ID might already exist. Lower the weight so beets can change it.
    track_id: 0.01

# Lyrics
lyrics:
  auto: yes # Fetch lyrics automatically during import. Default: yes.
  fallback: "" # By default, the file will be left unchanged when no lyrics are found.
  force: no # By default, beets won’t fetch lyrics if the files already have ones.
  sources: # List of sources to search for lyrics.
    - lrclib
    # - genius
    - musixmatch # Possibly just 30% of a whole song text
  synced: yes

# Pictures
art_filename: cover # When importing album art, the name of the file (without extension) where the cover art image should be placed.

copyartifacts:
  extensions: .jpg .pdf .png
  print_ignored: yes

fetchart:
  auto: yes # Enable automatic album art fetching during import.
  cautious: no # Pick only trusted album art by ignoring filenames that do not contain one of the keywords in "cover_names".
  enforce_ratio: yes # Only allow images with 1:1 aspect ratio
  minwidth: 1000 # Only images with a width bigger or equal to minwidth are considered as valid album art candidates.
  maxwidth: 3000 # A maximum image width to downscale fetched images if they are too big.
  sources:
    - filesystem
    - coverart
    - albumart
    - fanarttv
    - bandcamp
  store_source: yes # Store the art source (e.g. filesystem) in the beets database as art_source.

embedart:
  auto: yes # Enable automatic album art embedding.
  compare_threshold: 50 # A threshold of 0 (the default) disables similarity checking and always embeds new images.
  ifempty: no # Do not avoid embedding album art for files that already have art embedded.
  maxwidth: 0 # A maximum width to downscale images before embedding them (the original image file is not altered).
  remove_art_file: no

# Last.fm
# lastimport:
# per_page: 500              # The number of tracks to request from the API at once. Default: 500.
# retry_limit: 3             # How many times should we re-send requests to Last.fm on failure? Default: 3.
# lastfm:
# user: REDACTED
# api_key: REDACTED
# types:
# play_count: int
# rating: float

lastgenre: # Fetches tags from Last.fm and assigns them as genres to your albums and items.
  auto: yes # Fetch genres automatically during import. Default: yes.
  count: 5 # Number of genres to fetch. Default: 1
  separator: "; "
  force: no # By default, beets will always fetch new genres, even if the files already have one.
  min_weight: 10 # Minimum popularity factor below which genres are discarded. Default: 10.
  prefer_specific: no # Sort genres by the most to least specific, rather than most to least popular. Default: no.
  source: album # Which entity to look up in Last.fm. Can be either artist, album or track. Default: album.
  title_case: yes # Convert the new tags to TitleCase before saving. Default: yes.

# ReplayGain
replaygain:
  auto: yes # Enable ReplayGain analysis during import. Default: yes.
  backend: ffmpeg # The analysis backend; either gstreamer, command, or audiotools. Default: command.
  overwrite: no # Re-analyze files that already have ReplayGain tags. Default: no.
  targetlevel: 89 # A number of decibels for the target loudness level. Default: 89.
  per_disc: no # Calculate album ReplayGain on disc level instead of album level. Default: no.

# Maintanance
duplicates:
  album: no # List duplicate albums instead of tracks. Default: no.
  checksum: ffmpeg -i {file} -f crc - # Use an arbitrary command to compute a checksum of items.
  copy: none # A destination base directory into which to copy matched items.
  count: yes # Print a count of duplicate tracks or albums in the format
  delete: no # Removes matched items from the library and from the disk. Default: no
  format: format_item # A specific format with which to print every track or album.
  full: yes # List every track or album that has duplicates, not just the duplicates themselves. Default: no
  keys: [mb_trackid, mb_albumid] # Define in which track or album fields duplicates are to be searched.
  merge: no # Merge duplicate items by consolidating tracks and/or metadata where possible.
  move: none # A destination base directory into which it will move matched items. Default: none (disabled).
  path: no # Output the path instead of metadata when listing duplicates. Default: no.
  strict: no # Do not report duplicate matches if some of the attributes are not defined (ie. null or empty). Default: no
  tiebreak: {} # Dictionary of lists of attributes keyed by items or albums to use when choosing duplicates.

missing:
  count: yes # Print a count of missing tracks per album, with format defaulting to $albumartist - $album: $missing.
  total: yes # Print a single count of missing tracks in all albums.

verbose: no

ui:
  color: yes
  colors:
    text_success: green
    text_warning: blue
    text_error: red
    text_highlight: blue
    text_highlight_minor: lightgray
    action_default: darkblue
    action: purple

hook:
  hooks:
    - event: album_imported
      command: echo "\"{album}\""
    - event: import
      command: echo "imported from {paths}"
    - event: art_set
      command: echo "Coverart saved"
    - event: import_begin
      command: echo "Import started..."
    - event: import_task_apply
      command: echo "Metadata applied"
    - event: item_copied
      command: echo "\"{item}\" copied from \"{source}\" to \"{destination}\""
    - event: item_moved
      command: echo "Moved \"{item}\""
    - event: write
      command: echo "Writing to {path}"
    - event: cli_exit
      command: echo "All tasks finished!"
