###########################################################################
# Readarr: Book manager, organizer, and PVR, fork to work with Hardcover. #
###########################################################################

---
x-defaults: &defaults
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true # Do not allow privilege escalation.

services:
  readarr:
    <<: *defaults
    image: ghcr.io/pennydreadful/bookshelf:hardcover
    container_name: readarr
    hostname: readarr
    environment:
      PGID: "${PGID}" # Group ID to run as.
      PUID: "${PUID}" # User ID to run as.
      TZ: "${TZ}" # Sets the timezone.
      UMASK: "${UMASK}" # Umask to apply to newly created files.
    expose:
      - 8787/tcp # Web interface reverse proxied internally at readarr.${INTERNAL_DOMAIN}.
    networks:
      external:
      gluetun:
        ipv4_address: 172.19.3.20
        ipv6_address: "${DOCKER_IPV6_ULA_BASE}:3::20"
      internal:
    volumes:
      - downloads:/downloads:rw # Root downloads directory.
      - media-library:/library:rw # Root media library directory.
      - readarr:/config:rw # Configuration and data.
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    depends_on:
      readarr-db:
        condition: service_healthy # Wait for readarr-db to be healthy before starting.
        restart: true # Restart when readarr-db restarts.
    deploy:
      resources:
        limits:
          cpus: 4 # Allow using 4 vCPUs.
          memory: 8G # Allow using 8GB of RAM.
        reservations:
          cpus: 1 # Reserve 1 vCPU.
          memory: 2GB # Reserve 2GB of RAM.
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:8787/api/v1/system/status?apikey=${READARR_API_KEY} || exit 1"

  readarr-db:
    <<: *defaults
    image: ghcr.io/11notes/postgres:17
    container_name: readarr-db
    hostname: readarr-db
    read_only: true
    environment:
      POSTGRES_BACKUP_SCHEDULE: "0 6 * * *" # Run every night at 6AM.
      POSTGRES_PASSWORD: "${READARR_DB_PASSWORD}" # Configures the default PostgreSQL password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      internal:
        ipv4_address: 172.19.2.21 # Static IPV4 from the internal subnet
        ipv6_address: ${DOCKER_IPV6_ULA_BASE}:1::21 # Static IPV6 equivalent
    tmpfs:
      - "/postgres/log:uid=${PUID},gid=${PGID}" # Required for read_only image.
      - "/postgres/run:uid=${PUID},gid=${PGID}" # Required for read_only image.
    volumes:
      - readarr-db-backups:/postgres/backup:rw # PostgreSQL backups.
      - readarr-db-config:/postgres/etc:rw # PostgreSQL configuration.
      - readarr-db-data:/postgres/var:rw # PostgreSQL data.
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 0.5 # Allow using 0.5 vCPUs.
          memory: 512M # Allow using 512MB.

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  readarr-db-backups:
    name: readarr-db-backups-volume
    external: true
  readarr-db-config:
    name: readarr-db-config-volume
    external: true
  readarr-db-data:
    name: readarr-db-data-volume
    external: true
  readarr:
    name: readarr-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
