###############################################################################
# Unpackerr: Auto-extract compressed downloads.                               #
# https://unpackerr.zip/docs/introduction                                     #
###############################################################################

---
services:
  unpackerr:
    image: golift/unpackerr:0.14.5
    container_name: unpackerr
    env_file: ../../.env
    hostname: unpackerr
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    networks:
      - internal
    volumes:
      - downloads:/downloads:rw
    environment:
      TZ: "${TZ}" # Sets the timezone.
      UN_LIDARR_0_API_KEY: "${LIDARR_API_KEY}" # Use the Lidarr API key.
      UN_LIDARR_0_URL: "http://lidarr:8686" # Connect to Lidarr.
      UN_PARALLEL: "1" # Run 1 item at a time.
      UN_RADARR_0_API_KEY: "${RADARR_API_KEY}" # Use the Radarr API key.
      UN_RADARR_0_URL: "http://radarr:7878" # Connect to Radarr.
      UN_SONARR_0_API_KEY: "${SONARR_API_KEY}" # Use the Sonarr API key.
      UN_SONARR_0_URL: "http://sonarr:8989" # Connect to Sonarr.
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2G
    security_opt:
      - no-new-privileges:true

networks:
  internal:
    name: internal-network
    external: true

volumes:
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
