#################################################################################
# Navidrome: Music collection server and streamer.                            #
# https://www.navidrome.org/docs/usage/configuration-options/                 #
#################################################################################

---
services:
  navidrome:
    image: ghcr.io/navidrome/navidrome:latest
    container_name: navidrome
    env_file: ../../.env
    hostname: navidrome
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      ND_DEFAULTDOWNLOADABLESHARE: "true" # Allows shares to be downloadable by default.
      ND_ENABLEGRAVATAR: "true" # Enables Gravatar support for profile pictures.
      ND_ENABLEINSIGHTSCOLLECTOR: "false" # Opts out of telemetry.
      ND_ENABLESHARING: "true" # Enables the sharing API.
      ND_LASTFM_APIKEY: "${LASTFM_API_KEY}" # https://www.last.fm/api/authentication
      ND_LASTFM_ENABLED: "true" # Enables Last.fm integrations.
      ND_DATAFOLDER: "/data" # Configures the data path.
      ND_CACHEFOLDER: "/cache" # Configures the cache path.
      ND_LOGFILE: "/logs/navidrome.log" # Sets the log file path.
      ND_LASTFM_SECRET: "${LASTFM_API_SECRET}" # https://www.last.fm/api/authentication
      ND_MUSICFOLDER: "/library/music" # Configures the music library path.
      ND_PASSWORDENCRYPTIONKEY: "${NAVIDROME_ENCRYPTION_KEY}" # openssl rand -hex 32
      ND_SCANNER_SCHEDULE: "0 6 * * *" # Scan the library every day at 6:00 AM.
      ND_SPOTIFY_ID: "${SPOTIFY_ID}" # https://developer.spotify.com/documentation/web-api/concepts/apps
      ND_SPOTIFY_SECRET: "${SPOTIFY_SECRET}" # https://developer.spotify.com/documentation/web-api/concepts/apps
      SQLITE_TMPDIR: "/data" # Store SQLite migrations in /data.
      TZ: "${TZ}" # Sets the timezone.
    expose:
      - 4533/tcp
    networks:
      - external
    volumes:
      - media-library:/library:ro
      - navidrome-cache:/cache
      - navidrome-data:/data
      - navidrome-logs:/logs
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 4G
    healthcheck:
      interval: 1m
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:4533/ping || exit 1"
      timeout: 5s
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network

volumes:
  navidrome-cache:
    external: true
    name: navidrome-cache-volume
  navidrome-data:
    external: true
    name: navidrome-data-volume
  navidrome-logs:
    external: true
    name: navidrome-logs-volume
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
