---
name: arr

# Default container options.
x-defaults: &defaults
  restart: unless-stopped
  environment:
    PGID: "${PGID}"
    PUID: "${PUID}"
    TZ: "${TZ}"
    UMASK: "${UMASK}"
  cap_drop:
    - AUDIT_WRITE
    - MKNOD
    - SETFCAP
    - SETPCAP
    - SYS_ADMIN
    - SYS_CHROOT
    - SYS_PTRACE
  deploy:
    resources:
      limits:
        cpus: 4
        memory: 8G
  security_opt:
    - no-new-privileges:true

# Default read-only container options.
x-defaults-ro: &defaults-ro
  <<: *defaults
  read_only: true
  tmpfs:
    - "/tmp:uid=${PUID},gid=${PGID}"
  cap_add:
    - CHOWN
  cap_drop:
    - ALL

# Default database environment variables.
x-defaults-db-env: &defaults-db-env
  TZ: "${TZ}"

# Default database options.
x-defaults-db: &defaults-db
  <<: *defaults-ro
  image: ghcr.io/11notes/postgres:18
  deploy:
    resources:
      limits:
        cpus: 1
        memory: 512M
  tmpfs:
    - "/postgres/log:uid=${PUID},gid=${PGID}"
    - "/postgres/run:uid=${PUID},gid=${PGID}"

services:
  ###########################################################################
  # Lidarr: Music manager, organizer, and PVR - https://lidarr.audio        #
  ###########################################################################

  lidarr:
    <<: *defaults
    image: ghcr.io/hotio/lidarr:pr-plugins
    container_name: lidarr
    hostname: lidarr
    ports:
      - 8686:8686/tcp
    networks:
      external:
      gluetun:
        ipv4_address: 172.19.1.21
      internal:
    volumes:
      - downloads:/downloads
      - media-library:/library
      - lidarr:/config
    depends_on:
      lidarr-db:
        condition: service_healthy
        restart: true
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:8686/api/v1/system/status?apikey=${LIDARR_API_KEY} || exit 1"

  lidarr-db:
    <<: *defaults-db
    container_name: lidarr-db
    hostname: lidarr-db
    environment:
      <<: *defaults-db-env
      POSTGRES_PASSWORD: "${LIDARR_DB_PASSWORD}"
    networks:
      - internal
    volumes:
      - lidarr-db-config:/postgres/etc
      - lidarr-db-data:/postgres/var

  ###########################################################################
  # Radarr: Movie manager, organizer, and PVR - https://radarr.tv           #
  ###########################################################################

  radarr:
    <<: *defaults-ro
    image: ghcr.io/11notes/radarr:6
    container_name: radarr
    hostname: radarr
    networks:
      external:
      gluetun:
        ipv4_address: 172.19.0.21
      internal:
    expose:
      - 7878/tcp
    volumes:
      - ./scripts:/scripts:ro
      - downloads:/downloads
      - media-library:/library
      - radarr:/radarr/etc
    depends_on:
      radarr-db:
        condition: service_healthy
        restart: true
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:7878/api/v3/system/status?apikey=${RADARR_API_KEY} || exit 1"

  radarr-db:
    <<: *defaults-db
    container_name: radarr-db
    hostname: radarr-db
    environment:
      <<: *defaults-db-env
      POSTGRES_PASSWORD: "${RADARR_DB_PASSWORD}"
    networks:
      - internal
    volumes:
      - radarr-db-config:/postgres/etc
      - radarr-db-data:/postgres/var

  ###########################################################################
  # Sonarr: Series manager, organizer, and PVR - https://sonarr.tv          #
  ###########################################################################

  sonarr:
    <<: *defaults-ro
    image: ghcr.io/11notes/sonarr:4
    container_name: sonarr
    hostname: sonarr
    networks:
      external:
      gluetun:
        ipv4_address: 172.19.1.22
      internal:
    expose:
      - 8989/tcp
    volumes:
      - downloads:/downloads
      - media-library:/library
      - sonarr:/sonarr/etc
    depends_on:
      sonarr-db:
        condition: service_healthy
        restart: true
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:8989/api/v3/system/status?apikey=${SONARR_API_KEY} || exit 1"

  sonarr-db:
    <<: *defaults-db
    container_name: sonarr-db
    hostname: sonarr-db
    environment:
      <<: *defaults-db-env
      POSTGRES_PASSWORD: "${SONARR_DB_PASSWORD}"
    networks:
      - internal
    volumes:
      - sonarr-db-config:/postgres/etc
      - sonarr-db-data:/postgres/var

  ###########################################################################
  # Prowlarr: Indexer manager for PVRs - https://prowlarr.com               #
  ###########################################################################

  prowlarr:
    <<: *defaults-ro
    image: ghcr.io/11notes/prowlarr:2
    container_name: prowlarr
    network_mode: service:gluetun
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
      prowlarr-db:
        condition: service_healthy
        restart: true
    volumes:
      - prowlarr:/prowlarr/etc
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:9696/api/v1/system/status?apikey=${PROWLARR_API_KEY} || exit 1"

  prowlarr-db:
    <<: *defaults-db
    container_name: prowlarr-db
    hostname: prowlarr-db
    environment:
      <<: *defaults-db-env
      POSTGRES_PASSWORD: "${PROWLARR_DB_PASSWORD}"
    networks:
      gluetun:
        ipv4_address: 172.19.1.30
    volumes:
      - prowlarr-db-config:/postgres/etc
      - prowlarr-db-data:/postgres/var

  ###########################################################################
  # Byparr: Captcha solver - https://github.com/ThePhaseless/Byparr         #
  ###########################################################################

  byparr:
    <<: *defaults
    image: ghcr.io/thephaseless/byparr:main
    container_name: byparr
    network_mode: service:gluetun
    user: "${PUID}:${PGID}"
    cap_add:
      - CHOWN
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G

  ###########################################################################
  # Unpackerr: Auto-extract compressed downloads - https://unpackerr.zip    #
  ###########################################################################

  unpackerr:
    <<: *defaults
    image: ghcr.io/hotio/unpackerr:release
    container_name: unpackerr
    hostname: unpackerr
    environment:
      PGID: "${PGID}"
      PUID: "${PUID}"
      TZ: "${TZ}"
      UMASK: "${UMASK}"
      UN_RADARR_0_API_KEY: "${RADARR_API_KEY}"
      UN_RADARR_0_URL: "http://radarr:7878"
      UN_SONARR_0_API_KEY: "${SONARR_API_KEY}"
      UN_SONARR_0_URL: "http://sonarr:8989"
      UN_WEBSERVER_LISTEN_ADDR: "0.0.0.0:5656"
      UN_WEBSERVER_METRICS: "true"
    networks:
      - internal
    volumes:
      - unpackerr:/config
      - downloads:/downloads
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:5656 || exit 1"
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 4G

  ###########################################################################
  # Configarr: 'ARR profile synchronization and management service.         #
  ###########################################################################

  configarr:
    <<: *defaults-ro
    image: ghcr.io/11notes/configarr:1
    container_name: configarr
    env_file: ../../.env
    environment:
      CONFIGARR_SCHEDULE: "0 6 * * *"
      TZ: "${TZ}"
    networks:
      - external
      - internal
    volumes:
      - ./config:/configarr/etc
      - configarr:/configarr/var
    depends_on:
      lidarr:
        condition: service_healthy
        restart: true
      radarr:
        condition: service_healthy
        restart: true
      sonarr:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 128M

  ###########################################################################
  # Huntarr: Automatic media library upgrade search tool.                   #
  ###########################################################################

  huntarr:
    <<: *defaults
    image: ghcr.io/plexguide/huntarr:latest
    container_name: huntarr
    hostname: huntarr
    user: ${PUID}:${PGID}
    expose:
      - 9705/tcp
    networks:
      - external
      - gluetun
    volumes:
      - huntarr:/config
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:9705 || exit 1"

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  huntarr:
    name: huntarr-volume
    external: true
  lidarr:
    name: lidarr-volume
    external: true
  lidarr-db-config:
    name: lidarr-db-config-volume
    external: true
  lidarr-db-data:
    name: lidarr-db-data-volume
    external: true
  configarr:
    name: configarr-volume
    external: true
  prowlarr:
    name: prowlarr-volume
    external: true
  prowlarr-db-config:
    name: prowlarr-db-config-volume
    external: true
  prowlarr-db-data:
    name: prowlarr-db-data-volume
    external: true
  radarr:
    name: radarr-volume
    external: true
  radarr-db-config:
    name: radarr-db-config-volume
    external: true
  radarr-db-data:
    name: radarr-db-data-volume
    external: true
  sonarr:
    name: sonarr-volume
    external: true
  sonarr-db-config:
    name: sonarr-db-config-volume
    external: true
  sonarr-db-data:
    name: sonarr-db-data-volume
    external: true
  unpackerr:
    name: unpackerr-volume
    external: true
  downloads:
    name: downloads-bind
    driver_opts:
      device: "${DOWNLOADS_PATH}"
      o: bind
      type: none
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
