###############################################################################
# Immich: Self-hosted photo manager and organizer (no ML enabled here).       #
# https://immich.app/                                                         #
###############################################################################

---
x-defaults: &defaults
  env_file: ../../.env
  restart: unless-stopped
  read_only: true
  cap_drop:
    - ALL
  security_opt:
    - no-new-privileges:true

services:
  immich-server:
    <<: *defaults
    image: ghcr.io/immich-app/immich-server:v2.4.1
    container_name: immich-server
    user: "${PUID}:${PGID}"
    environment:
      REDIS_PASSWORD: "${IMMICH_REDIS_PASSWORD}" # Redis password to authenticate with.
      DB_URL: "postgresql://postgres:${IMMICH_DB_PASSWORD}@immich-db:5432/immich" # Connects to PostgreSQL.
      REDIS_HOSTNAME: "immich-cache" # Connect to immich-cache for Redis.
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    expose:
      - 2283/tcp
    networks:
      - external
      - internal
    tmpfs:
      - "/run:uid=${PUID},gid=${PGID}"
      - "/tmp:uid=${PUID},gid=${PGID}"
      - "/usr/src/app/.npm:uid=${PUID},gid=${PGID}"
      - "/usr/src/app/.config:uid=${PUID},gid=${PGID}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - immich-data:/data
    depends_on:
      immich-cache:
        condition: service_healthy
        restart: true
      immich-db:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 8G
    group_add:
      - "${RENDER_PGID}" # Required for video transcoding.

  immich-cache:
    <<: *defaults
    image: ghcr.io/11notes/redis:8
    container_name: immich-cache
    environment:
      REDIS_PASSWORD: "${IMMICH_REDIS_PASSWORD}" # Sets the Redis password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/tmp:uid=1000,gid=1000"
    volumes:
      - immich-cache-config:/redis/etc:rw
      - immich-cache-data:/redis/var:rw
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 2G

  immich-db:
    <<: *defaults
    image: ghcr.io/immich-app/postgres:18-vectorchord0.5.3
    container_name: immich-db
    shm_size: 256MB
    environment:
      DB_STORAGE_TYPE: "HDD" # HDD or SSD; enables optimizations.
      POSTGRES_DB: "immich" # Use the immich database.
      POSTGRES_INITDB_ARGS: "--data-checksums" # Start with --data-checksums.
      POSTGRES_PASSWORD: "${IMMICH_DB_PASSWORD}" # Sets the password.
      POSTGRES_USER: "postgres" # Use the Postgres user.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/etc/postgresql:exec"
      - "/run"
      - "/tmp"
    volumes:
      - immich-db:/var/lib/postgresql:rw
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 2G

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  immich-cache-config:
    name: immich-cache-config-volume
    external: true
  immich-cache-data:
    name: immich-cache-data-volume
    external: true
  immich-db:
    name: immich-db-volume
    external: true
  immich-data:
    name: immich-data-bind
    driver_opts:
      device: "${IMMICH_DATA_PATH}"
      o: bind
      type: none
