###########################################################################
# Immich: Self-hosted photo management system - https://immich.app/       #
###########################################################################

---
x-defaults: &defaults
  restart: unless-stopped
  environment:
    TZ: "${TZ}"
  cap_drop:
    - AUDIT_WRITE
    - MKNOD
    - SETFCAP
    - SETPCAP
    - SYS_ADMIN
    - SYS_CHROOT
    - SYS_PTRACE
  security_opt:
    - no-new-privileges:true

services:
  immich-server:
    <<: *defaults
    image: ghcr.io/immich-app/immich-server:v2
    container_name: immich-server
    user: "${PUID}:${PGID}"
    read_only: true
    environment:
      DB_DATABASE_NAME: "immich"
      DB_HOSTNAME: "immich-db"
      DB_PASSWORD: "${IMMICH_DB_PASSWORD}"
      DB_PORT: "5432"
      DB_STORAGE_TYPE: "HDD"
      DB_USERNAME: "postgres"
      IMMICH_MACHINE_LEARNING_URL: "http://immich-ml:3003"
      REDIS_DBINDEX: "0"
      REDIS_HOSTNAME: "immich-cache"
      REDIS_PORT: "6379"
      UPLOAD_LOCATION: "/library"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    ports:
      - 2283:2283/tcp
    tmpfs:
      - /tmp:mode=1777,uid=${PUID},gid=${PGID}
      - /run:mode=1777,uid=${PUID},gid=${PGID}
      - /usr/src/app/.config:mode=1777,uid=${PUID},gid=${PGID}
      - /usr/src/app/.npm:mode=1777,uid=${PUID},gid=${PGID}
    networks:
      - internal
      - external
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - immich-data:/data
    depends_on:
      immich-cache:
        condition: service_healthy
        restart: true
      immich-db:
        condition: service_healthy
        restart: true
      immich-ml:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 8G
    group_add:
      - "${RENDER_PGID}"

  immich-ml:
    <<: *defaults
    image: ghcr.io/immich-app/immich-machine-learning:v2-openvino
    container_name: immich-ml
    networks:
      - internal
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - immich-ml-cache:/cache
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 8G
    group_add:
      - "${RENDER_PGID}"

  immich-cache:
    <<: *defaults
    image: ghcr.io/valkey-io/valkey:9-alpine
    read_only: true
    container_name: immich-cache
    networks:
      - internal
    volumes:
      - immich-cache:/data
    tmpfs:
      - /tmp
    healthcheck:
      test: "redis-cli ping || exit 1"
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G

  immich-db:
    <<: *defaults
    image: ghcr.io/immich-app/postgres:18-vectorchord0.5.3
    container_name: immich-db
    shm_size: 256MB
    environment:
      DB_STORAGE_TYPE: "HDD"
      POSTGRES_DB: "immich"
      POSTGRES_INITDB_ARGS: "--data-checksums"
      POSTGRES_PASSWORD: "${IMMICH_DB_PASSWORD}"
      POSTGRES_USER: "postgres"
      TZ: "${TZ}"
    networks:
      - internal
    volumes:
      - immich-db:/var/lib/postgresql
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 4G

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  immich-cache:
    name: immich-cache-volume
    external: true
  immich-db:
    name: immich-db-volume
    external: true
  immich-ml-cache:
    name: immich-ml-cache-volume
    external: true
  immich-data:
    name: immich-data-bind
    driver_opts:
      device: "${IMMICH_DATA_PATH}"
      o: bind
      type: none
