#################################################################################
# Immich: Self-hosted photo manager and organizer.                            #
# https://immich.app/                                                         #
#################################################################################

---
x-defaults: &defaults
  env_file: ../../.env
  restart: unless-stopped
  cap_drop:
    - ALL
  security_opt:
    - no-new-privileges:true

services:
  immich-server:
    <<: *defaults
    image: ghcr.io/immich-app/immich-server:v2
    container_name: immich-server
    read_only: true
    user: "${PUID}:${PGID}"
    environment:
      REDIS_PASSWORD: "${IMMICH_REDIS_PASSWORD}" # Redis password to authenticate with.
      DB_URL: "postgresql://postgres:${IMMICH_DB_PASSWORD}@immich-db:5432/immich" # Connects to PostgreSQL.
      IMMICH_MACHINE_LEARNING_URL: "http://immich-ml:3003" # Connect to immich-ml for ML.
      REDIS_HOSTNAME: "immich-cache" # Connect to immich-cache for Redis.
    devices:
      - /dev/dri:/dev/dri # Video device passthrough for transcoding.
    expose:
      - 2283/tcp
    networks:
      - external
      - internal
    tmpfs:
      - "/runuid=${PUID},gid=${PGID},exec"
      - "/tmpuid=${PUID},gid=${PGID},exec"
      - "/usr/src/app/.npmuid=${PUID},gid=${PGID},exec"
      - "/usr/src/app/.configuid=${PUID},gid=${PGID},exec"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - immich-data:/data
    depends_on:
      immich-cache:
        condition: service_healthy
        restart: true
      immich-db:
        condition: service_healthy
        restart: true
      immich-ml:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 8G
    group_add:
      - "${RENDER_PGID}" # Required for video transcoding.

  immich-ml:
    <<: *defaults
    image: ghcr.io/immich-app/immich-machine-learning:v2-openvino # https://docs.immich.app/features/ml-hardware-acceleration
    container_name: immich-ml
    read_only: true
    devices:
      - /dev/dri:/dev/dri # Video device passthrough for transcoding.
    networks:
      - internal
    tmpfs:
      - "/tmpuid=${PUID},gid=${PGID},exec"
      - "/configuid=${PUID},gid=${PGID},exec"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - immich-ml-cache:/cache
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 8G
    group_add:
      - "${RENDER_PGID}" # Required for video transcoding.

  immich-cache:
    <<: *defaults
    image: ghcr.io/11notes/redis:8
    read_only: true
    container_name: immich-cache
    environment:
      REDIS_PASSWORD: "${IMMICH_REDIS_PASSWORD}" # Sets the Redis password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/tmp:uid=1000,gid=1000,exec"
    volumes:
      - immich-cache-config:/redis/etc
      - immich-cache-data:/redis/var
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G

  immich-db:
    <<: *defaults
    image: ghcr.io/immich-app/postgres:18-vectorchord0.5.3
    container_name: immich-db
    read_only: true
    shm_size: 256MB
    environment:
      DB_STORAGE_TYPE: "HDD" # HDD or SSD; enables optimizations.
      POSTGRES_DB: "immich" # Use the immich database.
      POSTGRES_INITDB_ARGS: "--data-checksums" # Start with --data-checksums.
      POSTGRES_PASSWORD: "${IMMICH_DB_PASSWORD}" # Sets the password.
      POSTGRES_USER: "postgres" # Use the Postgres user.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/etc/postgresqlexec"
      - "/runexec"
      - "/tmpexec"
    volumes:
      - immich-db:/var/lib/postgresql
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 4G

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  immich-cache-config:
    name: immich-cache-config-volume
    external: true
  immich-cache-data:
    name: immich-cache-data-volume
    external: true
  immich-db:
    name: immich-db-volume
    external: true
  immich-ml-cache:
    name: immich-ml-cache-volume
    external: true
  immich-data:
    name: immich-data-bind
    driver_opts:
      device: "${IMMICH_DATA_PATH}"
      o: bind
      type: none
