#################################################################################
# Jellyfin: Home media server.                                                #
# https://jellyfin.org/docs/                                                  #
#################################################################################

---
services:
  jellyfin:
    image: ghcr.io/jellyfin/jellyfin:10.11
    container_name: jellyfin
    env_file: ../../.env
    hostname: jellyfin
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    devices:
      - /dev/dri:/dev/dri # Video device passthrough for encoding.
    environment:
      JELLYFIN_PublishedServerUrl: "https://${JELLYFIN_URL}" # Configures the external URL.
    expose:
      - 8096/tcp
    networks:
      - external
    tmpfs:
      - "/tmpuid=${PUID},gid=${PGID},exec"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - jellyfin-cache:/cache
      - jellyfin-config:/config
      - media-library:/library:ro
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 8G
    group_add:
      - "${RENDER_PGID}" # Required for video rendering.
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:8096/health || exit 1"
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network

volumes:
  jellyfin-cache:
    external: true
    name: jellyfin-cache-volume
  jellyfin-config:
    external: true
    name: jellyfin-config-volume
  media-library:
    name: media-library-bind
    driver_opts:
      device: "${MEDIA_LIBRARY_PATH}"
      o: bind
      type: none
