#################################################################################
# Gatus: Status page and uptime monitoring.                                   #
# https://gatus.io                                                            #
#################################################################################

---
x-defaults: &defaults
  read_only: true
  restart: unless-stopped
  cap_drop:
    - ALL
  deploy:
    resources:
      limits:
        cpus: 0.5
        memory: 256M
  security_opt:
    - no-new-privileges:true

services:
  gatus:
    <<: *defaults
    image: ghcr.io/twin/gatus:latest
    container_name: gatus
    hostname: gatus
    env_file: ../../.env
    user: "${PUID}:${PGID}"
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375" # Connect to the socket proxy.
      GATUS_DB_PASSWORD: "${GATUS_DB_PASSWORD}" # Database password to authenticate with.
      GATUS_URL: "${GATUS_URL}" # External URL to use.
      SOCKET_PROXY_URL: "http://socket-proxy:2375/v1.51/containers/" # Docker socket proxy base URL.
      TZ: "${TZ}" # Sets the timezone.
    expose:
      - 8080/tcp
    networks:
      - external
      - internal
    volumes:
      - ./config:/config:ro
    depends_on:
      gatus-db:
        condition: service_healthy
        restart: true
      socket-proxy:
        condition: service_healthy
        restart: true

  gatus-db:
    <<: *defaults
    image: ghcr.io/11notes/postgres:18
    container_name: gatus-db
    hostname: gatus-db
    shm_size: 256MB
    environment:
      POSTGRES_PASSWORD: "${GATUS_DB_PASSWORD}" # Sets the database password.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - internal
    tmpfs:
      - "/postgres/log:mode=1777,uid=${PUID},gid=${PGID}"
      - "/postgres/run:mode=1777,uid=${PUID},gid=${PGID}"
    volumes:
      - gatus-db-config:/postgres/etc
      - gatus-db-data:/postgres/var

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  gatus-db-config:
    name: gatus-db-config-volume
    external: true
  gatus-db-data:
    name: gatus-db-data-volume
    external: true
