###########################################################################
# Caddy: Reverse proxy and web server - https://caddyserver.com/          #
###########################################################################

---
services:
  caddy:
    image: ghcr.io/11notes/caddy:2
    command: ["run", "--config", "/caddy/etc/Caddyfile"]
    container_name: caddy
    env_file: ../../.env
    hostname: caddy
    read_only: true
    restart: unless-stopped
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375"
      TZ: "${TZ}"
    networks:
      - external
      - gluetun
      - internal
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
    volumes:
      - ./config/Caddyfile:/caddy/etc/Caddyfile:ro
      - caddy-config:/caddy/etc
      - caddy-data:/caddy/var
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"
      - "/caddy/backup:uid=${PUID},gid=${PGID}"
    cap_add:
      - NET_BIND_SERVICE
      - NET_ADMIN
    cap_drop:
      - ALL
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  caddy-config:
    name: caddy-config-volume
    external: true
  caddy-data:
    name: caddy-data-volume
    external: true
