###########################################################################
# Caddy: Reverse proxy and web server - https://caddyserver.com/          #
###########################################################################

---
services:
  caddy:
    build: ./ # Build from the current directory.
    container_name: caddy
    env_file: ../../.env # Needed to force Caddyfile parsing.
    hostname: caddy
    restart: unless-stopped
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375" # Connect to socket proxy.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - external
      - gluetun
      - internal
    ports:
      - 80:80/tcp # HTTP traffic.
      - 443:443/tcp # HTTPS traffic.
      - 443:443/udp # HTTPS3 traffic.
    volumes:
      - caddy-data:/data # Caddy data.
      - caddy-config:/config # Caddy configuration files.
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro # Caddyfile mount.
    cap_add:
      - NET_BIND_SERVICE # Required for binding ports <= 1024.
      - NET_ADMIN # Improves HTTP3 performance.
    cap_drop:
      - ALL # Drop all default capabilities.
    depends_on:
      socket-proxy:
        condition: service_healthy # Require socket-proxy to be healthy before connecting.
        restart: true # Restart when socket-proxy is restarted.
    deploy:
      resources:
        limits:
          cpus: 1 # Allow up to 1 vCPU.
          memory: 512M # Allow up to 512MB of RAM usage.
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:3000 || exit 1"
    security_opt:
      - no-new-privileges:true # Do not allow privilege escalation.

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  caddy-config:
    name: caddy-config-volume
    external: true
  caddy-data:
    name: caddy-data-volume
    external: true
