###########################################################################
# Caddy: Reverse proxy and web server - https://caddyserver.com/          #
###########################################################################

---
services:
  caddy:
    build: ./
    container_name: caddy
    env_file: ../../.env
    hostname: caddy
    restart: unless-stopped
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375"
      TZ: "${TZ}"
    networks:
      - external
      - gluetun
      - internal
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
    volumes:
      - caddy-data:/data
      - caddy-config:/config
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro
    cap_add:
      - NET_BIND_SERVICE
      - NET_ADMIN
    cap_drop:
      - ALL
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:3000 || exit 1"
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  caddy-config:
    name: caddy-config-volume
    external: true
  caddy-data:
    name: caddy-data-volume
    external: true
