# Caddy: Reverse proxy and web server.
# https://caddyserver.com/

---
services:
  caddy:
    image: ghcr.io/homeall/caddy-reverse-proxy-cloudflare:2026.01.01
    container_name: caddy
    env_file: ../../.env
    hostname: caddy
    restart: unless-stopped
    environment:
      DOCKER_HOST: "tcp://socket-proxy:2375" # Connect to the socket proxy.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - external
      - gluetun
      - internal
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy:/data:rw
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
    cap_drop:
      - ALL
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  caddy:
    name: caddy-volume
    external: true
