###########################################################################
# Beszel: Server monitoring hub - https://beszel.dev/                     #
###########################################################################

---
# Default container options.
x-defaults: &defaults
  read_only: true
  restart: unless-stopped
  deploy:
    resources:
      limits:
        cpus: 0.25
        memory: 64M
  security_opt:
    - no-new-privileges:true

services:
  beszel:
    <<: *defaults
    image: ghcr.io/henrygd/beszel/beszel:0
    container_name: beszel
    hostname: beszel
    user: "${PUID}:${PGID}"
    environment:
      APP_URL: "https://beszel.${INTERNAL_DOMAIN}"
    ports:
      - 127.0.0.1:8090:8090/tcp
    networks:
      - external
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - beszel-data:/beszel_data
      - beszel-socket:/beszel_socket
    cap_drop:
      - ALL
    healthcheck:
      test: ["CMD", "/beszel", "health", "--url", "http://127.0.0.1:8090"]
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"

  ###########################################################################
  # Beszel Agent: Beszel agent for server monitoring.                       #
  ###########################################################################

  beszel-agent:
    <<: *defaults
    image: ghcr.io/henrygd/beszel/beszel-agent:0
    container_name: beszel-agent
    hostname: beszel-agent
    network_mode: host
    environment:
      HUB_URL: "http://127.0.0.1:8090"
      KEY: "${BESZEL_KEY}"
      LISTEN: "0.0.0.0:45876"
      TOKEN: "${BESZEL_TOKEN}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${DOWNLOADS_INCOMPLETE_PATH}:/extra-filesystems/sda:ro # path to downloads disk
      - ${STORAGE_PATH}:/extra-filesystems/bcache0:ro # path to storage disk
      - beszel-agent:/var/lib/beszel-agent
      - beszel-socket:/beszel_socket
    cap_add:
      - PERFMON
      - SYS_ADMIN
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SYS_CHROOT
      - SYS_PTRACE
    depends_on:
      beszel:
        condition: service_healthy
        restart: true
      socket-proxy:
        condition: service_healthy
        restart: true
    healthcheck:
      test: ["CMD", "/agent", "health"]
    tmpfs:
      - "/tmp:uid=${PUID},gid=${PGID}"

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  beszel-agent:
    name: beszel-agent-volume
    external: true
  beszel-data:
    name: beszel-data-volume
    external: true
  beszel-socket:
    name: beszel-socket-volume
    external: true
