# Beszel: Server monitoring agent and hub.
# https://beszel.dev/guide/getting-started

---
x-defaults: &defaults
  read_only: true
  restart: unless-stopped
  tmpfs:
    - "/tmp:uid=${PUID},gid=${PGID}"
  deploy:
    resources:
      limits:
        cpus: 1
        memory: 128M
  security_opt:
    - no-new-privileges:true

services:
  beszel:
    <<: *defaults
    image: ghcr.io/henrygd/beszel/beszel:0.18
    container_name: beszel
    hostname: beszel
    user: "${PUID}:${PGID}"
    ports:
      - 127.0.0.1:8090:8090/tcp
    networks:
      - external
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - beszel-data:/beszel_data:rw
      - beszel-socket:/beszel_socket:rw
    cap_drop:
      - ALL
    healthcheck:
      interval: 1m
      start_period: 5s
      test: ["CMD", "/beszel", "health --url http://127.0.0.1:8090"]

  beszel-agent:
    <<: *defaults
    image: ghcr.io/henrygd/beszel/beszel-agent-intel:0.18 # -intel for our iGPU/ARC
    container_name: beszel-agent
    hostname: beszel-agent
    network_mode: host
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128:rw # dGPU path
    environment:
      HUB_URL: http://localhost:8090
      LISTEN: /beszel_socket/beszel.sock
      KEY: "${BESZEL_KEY}" # Beszel hub key to register with.
      TOKEN: "${BESZEL_TOKEN}" # Beszel hub token to register with.
    volumes:
      # https://beszel.dev/guide/additional-disks, my server's stuff is hardcoded here
      - ${DOWNLOADS_INCOMPLETE_PATH}:/extra-filesystems/sda:ro
      - ${STORAGE_PATH}:/extra-filesystems/bcache0:ro
      - ${DOWNLOADS_PERMASEED_PATH}:/extra-filesystems/sdh:ro

      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - beszel-agent:/var/lib/beszel-agent:rw
      - beszel-socket:/beszel_socket:rw
    cap_add:
      - CAP_PERFMON # Required for GPU monitoring.
      - SYS_ADMIN # Required for NVME SMART data.
      - SYS_RAWIO # Required for SMART data.
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    depends_on:
      beszel:
        condition: service_healthy
        restart: true
      socket-proxy:
        condition: service_healthy
        restart: true
    healthcheck:
      interval: 1m
      test: ["CMD", "/agent", "health"]

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  beszel-agent:
    name: beszel-agent-volume
    external: true
  beszel-data:
    name: beszel-data-volume
    external: true
  beszel-socket:
    name: beszel-socket-volume
    external: true
