################################################################################
# Beszel: Server monitoring agent and hub.                                     #
# https://beszel.dev/guide/getting-started                                     #
################################################################################

---
x-defaults: &defaults
  env_file: ../../.env
  read_only: true
  restart: unless-stopped
  deploy:
    resources:
      limits:
        cpus: 0.25
        memory: 64M
  security_opt:
    - no-new-privileges:true

services:
  beszel:
    <<: *defaults
    image: ghcr.io/henrygd/beszel/beszel:0
    container_name: beszel
    hostname: beszel
    user: "${PUID}:${PGID}"
    environment:
      APP_URL: "https://beszel.${INTERNAL_DOMAIN}" # Connect to beszel.${INTERNAL_DOMAIN}.
    ports:
      - 127.0.0.1:8090:8090/tcp
    networks:
      - external
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - beszel-data:/beszel_data
      - beszel-socket:/beszel_socket
    cap_drop:
      - ALL
    healthcheck:
      interval: 1m
      test: "/beszel health --url http://127.0.0.1:8090 || exit 1"
      timeout: 5s
    tmpfs:
      - "/tmp:mode=1777,uid=${PUID},gid=${PGID}"

  beszel-agent:
    <<: *defaults
    image: ghcr.io/henrygd/beszel/beszel-agent-intel:0 # -intel for Intel GPUs; ARC isn't supported yet?
    container_name: beszel-agent
    hostname: beszel-agent
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    environment:
      HUB_URL: "http://127.0.0.1:8090" # Use the local hub.
      KEY: "${BESZEL_KEY}" # Beszel hub key to use; set post-install.
      LISTEN: "0.0.0.0:45876" # Listen on 0.0.0.0:45876.
      TOKEN: "${BESZEL_TOKEN}" # Beszel hub token to use; set post-install.
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${DOWNLOADS_INCOMPLETE_PATH}:/extra-filesystems/sda:ro # Replace sda with the downloads-incomplete disk name.
      - ${STORAGE_PATH}:/extra-filesystems/bcache0:ro # Replace bcache0 with the storage disk name.
      - ${DOWNLOADS_PERMASEED_PATH}:/extra-filesystems/sdh:ro # Replace sdd with the storage disk name.
      - beszel-agent:/var/lib/beszel-agent
      - beszel-socket:/beszel_socket
    cap_add:
      - PERFMON # Required for future GPU monitoring.
      - SYS_ADMIN # Required for future GPU monitoring.
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SYS_CHROOT
      - SYS_PTRACE
    depends_on:
      beszel:
        condition: service_healthy
        restart: true
      socket-proxy:
        condition: service_healthy
        restart: true
    healthcheck:
      interval: 1m
      test: "/agent health || exit 1"
      timeout: 5s
    tmpfs:
      - "/tmp:mode=1777,uid=${PUID},gid=${PGID}"

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  beszel-agent:
    name: beszel-agent-volume
    external: true
  beszel-data:
    name: beszel-data-volume
    external: true
  beszel-socket:
    name: beszel-socket-volume
    external: true
