###############################################################################
# Configarr: 'ARR profile synchronization and management service.             #
# https://configarr.de/docs/configuration/config-file/                        #
###############################################################################

---
services:
  configarr:
    image: ghcr.io/11notes/configarr:1.17.2
    container_name: configarr
    env_file: ../../.env
    read_only: true
    restart: unless-stopped
    environment:
      CONFIGARR_SCHEDULE: "0 6 * * *" # Synchronize every day at 6:00 AM.
      TZ: "${TZ}" # Sets the timezone.
    networks:
      - external
      - internal
    tmpfs:
      - "/tmp:uid=1000,gid=1000"
    volumes:
      - ./config:/configarr/etc:rw
      - configarr:/configarr/var:rw
    cap_drop:
      - ALL
    depends_on:
      lidarr:
        condition: service_healthy
        restart: true
      radarr:
        condition: service_healthy
        restart: true
      sonarr:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 128M
        reservations:
          cpus: 0.15
          memory: 32M
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  internal:
    external: true
    name: internal-network

volumes:
  configarr:
    name: configarr-volume
    external: true
