###########################################################################
# MaM-IP-Helper: MyAnonaMouse seedbox IP synchronization.                 #
###########################################################################

---
services:
  mam-ip-helper:
    image: tyzen9/myanonamouse-ip-helper:1.0.0
    container_name: mam-ip-helper
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      MAM_ID: "${MAM_ID}"
      TZ: "${TZ}"
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 64M
    security_opt:
      - no-new-privileges:true
