# MaM-IP-Helper: MyAnonaMouse dynamic seedbox IP synchronization tool.
# https://github.com/tyzen9/docker-myanonamouse-ip-helper

---
services:
  mam-ip-helper:
    image: tyzen9/myanonamouse-ip-helper:1.0.0
    container_name: mam-ip-helper
    env_file: ../../.env
    network_mode: service:gluetun
    read_only: true
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    environment:
      MAM_ID: "${MAM_ID}" # https://www.myanonamouse.net/preferences/index.php?view=security
      TZ: "${TZ}" # Sets the timezone.
    cap_drop:
      - ALL
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 32M
    security_opt:
      - no-new-privileges:true
