###########################################################################
# MaM-IP-Helper: MyAnonaMouse seedbox IP synchronization.                 #
###########################################################################

---
services:
  mam-ip-helper:
    image: tyzen9/myanonamouse-ip-helper:1.0.0
    container_name: mam-ip-helper
    network_mode: service:gluetun # Route all traffic through Gluetun.
    read_only: true # Prevent writing directly to the image.
    restart: unless-stopped
    user: "${PUID}:${PGID}" # Run as non-root user.
    environment:
      TZ: "${TZ}" # Sets the timezone.
      MAM_ID: "${MAM_ID}" # MyAnonaMouse session ID.
    cap_drop:
      - ALL # Drop all default capabilities.
    depends_on:
      gluetun:
        condition: service_healthy # Require Gluetun to be healthy before connecting.
        restart: true # Restart when Gluetun is restarted.
    deploy:
      resources:
        limits:
          cpus: 0.25 # Allow up to 0.25 vCPUs.
          memory: 64M # Allow up to 64MB of RAM usage.
        reservations:
          cpus: 0.125 # Reserve 0.125 vCPUs.
          memory: 32M # Reserve 32MB of RAM.
    security_opt:
      - no-new-privileges:true # Do not allow privilege escalation.
