# Gluetun: Container VPN client. I'm currently using AirVPN.
# https://github.com/qdm12/gluetun-wiki/tree/main/setup/options

---
services:
  gluetun:
    image: ghcr.io/qdm12/gluetun:latest
    container_name: gluetun
    hostname: gluetun
    restart: unless-stopped
    devices:
      - /dev/net/tun:/dev/net/tun:rw
    environment:
      BLOCK_MALICIOUS: "off" # Disable unbound malware blocking; reduces resource usage.
      DNS_UPSTREAM_IPV6: "${IPV6_ENABLED:-false}" # Toggles IPV6 support.
      FIREWALL_OUTBOUND_SUBNETS: "${FIREWALL_OUTBOUND_SUBNETS}" # List of subnets allowed to access the Gluetun network.
      FIREWALL_VPN_INPUT_PORTS: "${FIREWALL_VPN_INPUT_PORTS}" # https://github.com/qdm12/gluetun-wiki/blob/main/setup/options/firewall.md
      PGID: "${PGID}" # Group ID to run as.
      PUID: "${PUID}" # User ID to run as.
      SERVER_CITIES: "${SERVER_CITIES}" # Optional list of server cities to connect to.
      SERVER_COUNTRIES: "${SERVER_COUNTRIES}" # Optional list of server countries to connect to.
      TZ: "${TZ}" # Sets the timezone.
      UPDATER_PERIOD: "24h" # Update server list every 24 hours.
      VPN_SERVICE_PROVIDER: "${VPN_SERVICE_PROVIDER}" # https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers
      VPN_TYPE: "wireguard" # Use Wireguard for VPN connections.
      WIREGUARD_ADDRESSES: "${WIREGUARD_ADDRESSES}" # List of VPN addresses to connect to.
      WIREGUARD_ENDPOINT_PORT: "${WIREGUARD_ENDPOINT_PORT}" # VPN endpoint port to connect to.
      WIREGUARD_PRESHARED_KEY: "${WIREGUARD_PRESHARED_KEY}" # Optional depending on provider. PresharedKey from wg0.conf.
      WIREGUARD_PRIVATE_KEY: "${WIREGUARD_PRIVATE_KEY}" # PrivateKey from wg0.conf.
      WIREGUARD_PUBLIC_KEY: "${WIREGUARD_PUBLIC_KEY}" # PublicKey from wg0.conf.
    expose:
      - 5030/tcp # slskd web interface.
      - 7474/tcp # Autobrr web interface.
      - 7476/tcp # qui web interface.
      - 8080/tcp # qBittorrent web interface.
      - 8191/tcp # Byparr server.
      - 9696/tcp # Prowlarr web interface.
    networks:
      - gluetun
    volumes:
      - gluetun:/gluetun:rw
    cap_add:
      - NET_ADMIN
      - NET_RAW
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  gluetun:
    name: gluetun-volume
    external: true
