###########################################################################
# Gluetun: VPN. I use AirVPN. - https://github.com/qdm12/gluetun          #
###########################################################################

---
services:
  gluetun:
    image: ghcr.io/qdm12/gluetun:latest
    container_name: gluetun
    hostname: gluetun
    restart: unless-stopped
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      BLOCK_MALICIOUS: "off"
      DOT: "on"
      FIREWALL_OUTBOUND_SUBNETS: "172.19.1.0/24,172.19.2.0/24,172.19.3.0/24,192.168.0.0/24,10.0.0.0/8"
      FIREWALL_VPN_INPUT_PORTS: "${FIREWALL_VPN_INPUT_PORTS}"
      PGID: "${PGID}"
      PUID: "${PUID}"
      SERVER_CITIES: "${SERVER_CITIES}"
      SERVER_COUNTRIES: "${SERVER_COUNTRIES}"
      TZ: "${TZ}"
      UPDATER_PERIOD: "24h"
      VPN_SERVICE_PROVIDER: "${VPN_SERVICE_PROVIDER}"
      VPN_TYPE: "wireguard"
      WIREGUARD_ADDRESSES: "${WIREGUARD_ADDRESSES}"
      WIREGUARD_ENDPOINT_PORT: "${WIREGUARD_ENDPOINT_PORT}"
      WIREGUARD_MTU: "1420"
      WIREGUARD_PRESHARED_KEY: "${WIREGUARD_PRESHARED_KEY}"
      WIREGUARD_PRIVATE_KEY: "${WIREGUARD_PRIVATE_KEY}"
      WIREGUARD_PUBLIC_KEY: "${WIREGUARD_PUBLIC_KEY}"
    expose:
      - 5030/tcp # slskd.
      - 8080/tcp # qBittorrent.
      - 8191/tcp # Byparr.
      - 9696/tcp # Prowlarr.
    networks:
      gluetun:
        ipv4_address: 172.19.3.10
    volumes:
      - gluetun:/gluetun
    cap_add:
      - NET_ADMIN
      - NET_RAW
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network
  internal:
    external: true
    name: internal-network

volumes:
  gluetun:
    name: gluetun-volume
    external: true
