{
	email {$ACME_EMAIL}
	storage file_system /caddy/var
}

# Snippet for security headers.
(security_headers) {
	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

# Snippet for externally accessible reverse proxied services.
(external_proxy) {
	encode zstd gzip

	log {
		output file /caddy/logs/external-access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 720h
		}
	}

	reverse_proxy {args[0]} {
		header_up Connection {http.request.header.Connection}
		header_up Upgrade {http.request.header.Upgrade}
		header_up X-Http-Version {http.request.proto}
		header_up X-Real-Ip {remote_host}
		trusted_proxies private_ranges
	}
}

# Snippet for internal-only reverse proxied services.
(internal_proxy) {
	@not_internal not remote_ip private_ranges
	abort @not_internal
	encode zstd gzip
	tls internal

	log {
		output file /caddy/logs/internal-access.log {
			roll_keep 5
			roll_keep_for 720h
			roll_size 10mb
		}
	}

	reverse_proxy {args[0]} {
		header_up Connection {http.request.header.Connection}
		header_up Upgrade {http.request.header.Upgrade}
		header_up X-Http-Version {http.request.proto}
		header_up X-Real-Ip {remote_host}
		trusted_proxies private_ranges
	}
}

###########################################################################
# Internal healthcheck endpoint.                                          #
###########################################################################

:3000 {
	respond / 200
}

###########################################################################
# Externally accessible services.                                         #
###########################################################################

{$CHHOTO_URL} {
	import external_proxy chhoto:4567
	import security_headers
}

{$GATUS_URL} {
	import external_proxy gatus:8080
	import security_headers
}

{$HOMARR_URL} {
	import external_proxy homarr:7575
	import security_headers
}

{$JELLYFIN_URL} {
	import external_proxy jellyfin:8096
	import security_headers
}

{$OPENCLOUD_URL} {
	import external_proxy opencloud:9200
	import security_headers
}

{$THELOUNGE_URL} {
	import external_proxy thelounge:9000
	import security_headers
}

{$VAULTWARDEN_URL} {
	import external_proxy vaultwarden:80

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	}
}

###########################################################################
# Internal-only services; need DNS rewrites + Caddy CA cert installed.    #
###########################################################################

autobrr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:7474
}

bazarr.{$INTERNAL_DOMAIN} {
	import internal_proxy bazarr:6767
}

beszel.{$INTERNAL_DOMAIN} {
	import internal_proxy beszel:8090
}

deemix.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:6595
}

dozzle.{$INTERNAL_DOMAIN} {
	import internal_proxy dozzle:8080
}

lidarr.{$INTERNAL_DOMAIN} {
	import internal_proxy lidarr:8686
}

prowlarr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:9696
}

qbittorrent.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:8080
}

radarr.{$INTERNAL_DOMAIN} {
	import internal_proxy radarr:7878
}

slskd.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:5030
}

sonarr.{$INTERNAL_DOMAIN} {
	import internal_proxy sonarr:8989
}
