{
	# Use ZeroSSL for ACME and SSL certificates.
	acme_ca https://acme.zerossl.com/v2/DV90

	# Use Cloudflare for ACME DNS challenges.
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	email {$ACME_EMAIL}

	# Use Cloudflare for Dynamic DNS.
	# NOTE: Currently disabled due to weird networking at my house.
	# dynamic_dns {
	# 	provider cloudflare {$CLOUDFLARE_API_TOKEN}
	# 	check_interval 1h
	# 	versions ipv4 ipv6
	# 	domains {
	# 		{$DDNS_DOMAINS}
	# 	}
	# }

	servers {
		trusted_proxies static private_ranges 100.64.0.0/10 fd7a:115c:a1e0::/48
	}
}

# Snippet used to configure logging.
(logging) {
	log {
		# args[0] becomes the filename.
		output file /data/logs/{args[0]}.log {
			roll_size 10mb # Roll logs after they reach 10mb.
			roll_keep 5 # Keep up to 5 log files.
			roll_keep_for 720h # Keep logs for 30 days.
		}
	}
}

# Snippet for common global security headers.
(security_headers) {
	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

# Snippet for reverse proxying externally accessible services.
(external_proxy) {
	encode zstd gzip
	import logging external-access
	reverse_proxy {args[0]}
}

(internal_proxy) {
	# Abort traffic NOT from private ranges or Tailscale.
	@denied not remote_ip private_ranges 100.64.0.0/10 fd7a:115c:a1e0::/48
	abort @denied
	encode zstd gzip
	import logging internal-access
	reverse_proxy {args[0]}
}

# Externally accessible services.
{$CHHOTO_URL} {
	import external_proxy chhoto:4567
	import security_headers
}

{$GATUS_URL} {
	import external_proxy gatus:8080
	import security_headers
}

{$IMMICH_URL} {
	import external_proxy immich-server:2283
	import security_headers

	# Allow large uploads.
	request_body {
		max_size 0
	}
}

{$JELLYFIN_URL} {
	import external_proxy jellyfin:8096
	import security_headers
}

{$KAVITA_URL} {
	import external_proxy kavita:5000
	import security_headers
}

{$NAVIDROME_URL} {
	import external_proxy navidrome:4533
	import security_headers
}

{$OPENCLOUD_URL} {
	import external_proxy opencloud:9200
	import security_headers

	# Allow large uploads.
	request_body {
		max_size 0
	}
}

{$THELOUNGE_URL} {
	import external_proxy thelounge:9000
	import security_headers
}

{$VAULTWARDEN_URL} {
	import external_proxy vaultwarden:80
	header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

# Internal-only services; accessible with a DNS rewrite.
autobrr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:7474
}

beszel.{$INTERNAL_DOMAIN} {
	import internal_proxy beszel:8090
}

dozzle.{$INTERNAL_DOMAIN} {
	import internal_proxy dozzle:8080
}

huntarr.{$INTERNAL_DOMAIN} {
	import internal_proxy huntarr:9705
}

lidarr.{$INTERNAL_DOMAIN} {
	import internal_proxy lidarr:8686
}

prowlarr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:9696
}

qbittorrent.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:8080
}

qui.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:7476
}

radarr.{$INTERNAL_DOMAIN} {
	import internal_proxy radarr:7878
}

slskd.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:5030
}

sonarr.{$INTERNAL_DOMAIN} {
	import internal_proxy sonarr:8989
}

# Internal healthcheck endpoint.
:3000 {
	respond "OK" 200
}

# Global catch-all for unhandled traffic.
* {
	handle {
		abort
	}

	# Log unhandled traffic to unhandled-access.log.
	import logging unhandled-access
}
