# This Caddyfile handles all external and internal routes.
# It's designed to be used with Cloudflare, and requires all
# Cloudflare and Domain environment variables to be set beforehand.
# Internal services are accessible with a DNS rewrite.

{
	# Use Cloudflare for ACME DNS challenges.
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	email {$ACME_EMAIL}

	# Configures trusted proxies.
	servers {
		trusted_proxies cloudflare
		client_ip_headers CF-Connecting-IP X-Forwarded-For X-Real-IP
	}
}

# Snippet for common global security headers.
(security_headers) {
	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

# Snippet for external services proxied through Cloudflare.
(cloudflare_proxy) {
	encode zstd gzip
	reverse_proxy {args[0]} {
		# Pass X-Real-IP for Cloudflare.
		header_up X-Real-IP {remote_host}
	}
}

# Snippet for external services.
(external_proxy) {
	encode zstd gzip
	reverse_proxy {args[0]}
}

# Snippet for internal-only services.
(internal_proxy) {
	# Abort traffic NOT from private ranges or Tailscale.
	@denied not remote_ip private_ranges 100.64.0.0/10 fd7a:115c:a1e0::/48
	abort @denied
	encode zstd gzip
	reverse_proxy {args[0]}
}

# Drop all unhandled traffic.
* {
	handle {
		abort
	}
}

# Internal healthcheck endpoint.
:3000 {
	respond "OK" 200
}

# Externally accessible services.
{$CHHOTO_URL} {
	# NOTE: Be sure Chhoto is proxied through Cloudflare.
	import cloudflare_proxy chhoto:4567
	import security_headers
}

{$GATUS_URL} {
	# NOTE: Be sure Gatus is proxied through Cloudflare.
	import cloudflare_proxy gatus:8080
	import security_headers
}

{$IMMICH_URL} {
	import external_proxy immich:2283
	import security_headers

	# Allow large uploads.
	request_body {
		max_size 0
	}
}

{$JELLYFIN_URL} {
	import external_proxy jellyfin:8096
	import security_headers
}

{$KAVITA_URL} {
	import external_proxy kavita:5000
	import security_headers
}

{$OPENCLOUD_URL} {
	import external_proxy opencloud:9200
	import security_headers

	# Allow large uploads.
	request_body {
		max_size 0
	}
}

{$THELOUNGE_URL} {
	import external_proxy thelounge:9000
	import security_headers
}

{$VAULTWARDEN_URL} {
	# NOTE: Be sure Vaultwarden is proxied through Cloudflare.
	import cloudflare_proxy vaultwarden:80
	import security_headers
}

# Snippet for internal-only services.
# Accessible with a DNS rewrite (i.e *.domain -> 192.x.x.x).
autobrr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:7474
}

beszel.{$INTERNAL_DOMAIN} {
	import internal_proxy beszel:8090
}

dozzle.{$INTERNAL_DOMAIN} {
	import internal_proxy dozzle:8080
}

huntarr.{$INTERNAL_DOMAIN} {
	import internal_proxy huntarr:9705
}

lidarr.{$INTERNAL_DOMAIN} {
	import internal_proxy lidarr:8686
}

prowlarr.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:9696
}

qbittorrent.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:8080
}

qui.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:7476
}

radarr.{$INTERNAL_DOMAIN} {
	import internal_proxy radarr:7878
}

slskd.{$INTERNAL_DOMAIN} {
	import internal_proxy gluetun:5030
}

sonarr.{$INTERNAL_DOMAIN} {
	import internal_proxy sonarr:8989
}
