###############################################################################
# Huntarr: Automatic scanner for missing 'ARR content.                        #
# https://plexguide.github.io/Huntarr.io/                                     #
###############################################################################

---
services:
  huntarr:
    image: ghcr.io/plexguide/huntarr:8.2.10
    container_name: huntarr
    env_file: ../../.env
    hostname: huntarr
    read_only: true
    user: "${PUID}:${PGID}"
    environment:
      TZ: "${TZ}" # Sets the timezone.
    expose:
      - 9705/tcp
    networks:
      - external
      - gluetun
    tmpfs:
      - "/.config:uid=${PUID},gid=${PGID}"
      - "/tmp:uid=${PUID},gid=${PGID}"
    volumes:
      - huntarr:/config:rw
    cap_drop:
      - AUDIT_WRITE
      - MKNOD
      - SETFCAP
      - SETPCAP
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    healthcheck:
      test: "curl --fail --retry 0 --silent http://127.0.0.1:9705 || exit 1"
    security_opt:
      - no-new-privileges:true

networks:
  external:
    external: true
    name: external-network
  gluetun:
    external: true
    name: gluetun-network

volumes:
  huntarr:
    name: huntarr-volume
    external: true
